@charset "UTF-8";
@import url(../css/font.css);
body.bg_w { background-color: transparent; }

#wrap { min-width: 1240px; }

#wrap.sub { min-width: auto; }

#container.sub { padding-bottom: 80px; }

#container.sub.no_mv { padding-top: 180px; }

.fc_purple { color: #5e25c7; }

.fc_lgrey { color: #999; }

.header { background-color: #fff; padding-bottom: 10px; position: absolute; z-index: 9999; width: 100%; min-width: 1240px; left: 0; top: 0; border-bottom: 1px solid rgba(0, 0, 0, 0.07); /* @at-root .main & { background-color: transparent; .header_top { .logo { background-image: url(../images/LOGO_W.png); } } .nav_area { .nav_list li a { color: #fff; } } .header_util { .btn_mypage { background-image: url(/images/ico/ico_mem.svg); } .btn_lm { .bar_box .bar { background-color: #fff; } } } } */ }

.sub .header { min-width: auto; }

.header_top { padding: 0 40px; }

.header_top .logo { width: 120px; height: 79px; background-image: url(../images/logo.png); background-repeat: no-repeat; background-position: center center; background-size: cover; }

.header_top .logo a { display: block; width: 100%; height: 100%; }

.header_top_inner { height: 120px; position: relative; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; max-width: 1140px; margin: 0 auto; }

.header_util { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.header_util .btn_mypage { display: block; width: 50px; height: 50px; background: url(../images/ico/ico_mem_b.svg) no-repeat center center; }

.header_util .btn_lm { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 50px; height: 50px; position: relative; margin-left: 10px; }

.header_util .btn_lm .bar_box { width: 32px; height: 20px; position: relative; }

.header_util .btn_lm .bar_box .bar { position: absolute; width: 100%; height: 2px; background-color: #212121; left: 0%; }

.header_util .btn_lm .bar_box .bar.top { top: 0; }

.header_util .btn_lm .bar_box .bar.mid { top: 9px; }

.header_util .btn_lm .bar_box .bar.bot { width: 60%; top: 18px; }

.header .nav_area { position: relative; height: 50px; }

.header .nav_area .nav { position: absolute; width: 100%; text-align: center; }

.header .nav_area .nav_list li { display: inline-block; vertical-align: top; }

.header .nav_area .nav_list li + li { margin-left: 50px; }

.header .nav_area .nav_list li a { display: block; font-size: 20px; font-weight: bold; line-height: 50px; color: #212121; }

.header .nav_area .nav_list li a span { display: block; position: relative; padding: 0 10px; }

.header .nav_area .nav_list li.on { font-family: 'Godo'; }

.header .nav_area .nav_list li.on a { font-size: 24px; }

.header .nav_area .nav_list li.on a span::after { content: ''; position: absolute; width: 100%; height: 8px; background-color: rgba(119, 0, 255, 0.2); left: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index: -1; }

.inner { max-width: 1160px; margin: 0 auto; padding: 0 40px; }

.sub_inner { position: relative; max-width: 740px; margin: 0 auto; }

.sub_inner.ty_pd { padding: 0 20px; }

.sub_inner_cont { padding: 0 20px 20px; }

.sub_inner_cont2 { padding: 20px; }

.sub_inner_cont3 { padding: 20px; background-color: #fff; }

.sub_inner_cont3.comments_wrap { border-top: 1px solid #000; }

.sc_sep { background-color: #f5f5f5; border: none; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; height: 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }

.footer { background-color: #f5f5f5; padding: 20px 16px; text-align: center; }

.footer_menu { font-size: 0; margin-bottom: 12px; }

.footer_menu li { display: inline-block; vertical-align: top; padding: 0 10px; position: relative; }

.footer_menu li::after { content: ''; position: absolute; width: 1px; height: 10px; background-color: #ccc; right: 0; top: 50%; margin-top: -5px; }

.footer_menu li:last-child::after { display: none; }

.footer_menu a { display: block; font-size: 11px; line-height: 1.82; letter-spacing: -0.55px; }

.footer .footer_policy { -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 500px; margin: 0 auto; background-color: #fff; text-align: left; border: 1px solid rgba(0, 0, 0, 0.1); }

.footer .footer_policy_tit button { display: block; width: 100%; line-height: 30px; padding: 0 12px; position: relative; font-size: 12px; font-weight: bold; text-align: center; }

.footer .footer_policy_tit button i { position: absolute; width: 12px; height: 7px; background-image: url(../images/ico/ico_open.svg); background-repeat: no-repeat; background-position: center center; right: 12px; top: 50%; margin-top: -3.5px; }

.footer .footer_policy.on .footer_policy_tit button i { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.footer .footer_policy .txt_box { display: none; border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 9px 11px; font-size: 10px; color: #666; line-height: 1.6; letter-spacing: -0.3px; }

.footer .copy { font-size: 11px; line-height: 13px; font-weight: 500; margin-top: 12px; }

.container_ty1 { padding-top: 60px; background-color: #fff; -webkit-box-sizing: border-box; box-sizing: border-box; }

.container_ty2 { padding-top: 40px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.container_ty3 { padding-top: 40px; -webkit-box-sizing: border-box; box-sizing: border-box; min-height: calc(100vh - 130px); background-color: #fff; }

/* btns */
.btn_area { font-size: 0; }

.btn_area.ty_bot { margin-top: 30px; }

.btn_area.ty_bot2 { margin-top: 20px; }

.btn_area.taC { text-align: center; }

.btn_area.taR { text-align: right; }

.btn_area [class^=btn] { margin: 0 5px; }

.btn_small { display: inline-block; vertical-align: top; height: 24px; line-height: 22px; padding: 0 5px; border-radius: 6px; font-size: 12px; font-weight: 400; border-style: solid; border-width: 1px; }

.btn_small.white { color: #fff; border-color: #fff; }

.btn_small.white2 { color: #424242; border-color: #fff; background-color: #fff; font-weight: 500; }

.btn_small.grey { padding: 0 10px; color: #424242; background-color: #f5f5f5; border-color: rgba(0, 0, 0, 0.07); }

.btn_save { display: inline-block; vertical-align: top; width: 40px; height: 40px; background-repeat: no-repeat; background-position: center center; background-image: url(../images/ico/ico_save.svg); }

.btn_save.white { background-image: url(../images/ico/ico_save_w.svg); }

.btn_write { display: inline-block; vertical-align: top; background-repeat: no-repeat; background-position: center center; background-image: url(../images/ico/ico_write.svg); }

.btn_write.white { background-image: url(../images/ico/ico_write_w.svg); }

.btn_back { width: 40px; height: 40px; background: url(../images/ico/arrow_r.svg) no-repeat center center; }

.btn_back.black { background-image: url(../images/ico/arrow_l_b.svg); }

.btn_mid { height: 36px; line-height: 34px; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 6px; border: 1px solid #5e25c7; background-color: #5e25c7; text-align: center; padding: 0 15px; min-width: 120px; color: #fff; font-size: 13px; font-weight: 500; }

.btn_mid.white { color: #5e25c7; background-color: #fff; }

.btn_more { display: inline-block; vertical-align: top; width: 80px; -ms-flex-negative: 0; flex-shrink: 0; padding: 0 12px 0 15px; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #fff; height: 30px; border-radius: 15px; -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1); }

.btn_more span { position: relative; display: block; width: 100%; line-height: 30px; font-size: 14px; background-image: url(../images/ico/arrow_more.svg); background-repeat: no-repeat; background-position: right 55%; }

.btn_more2 { display: inline-block; vertical-align: top; -ms-flex-negative: 0; flex-shrink: 0; padding: 0 12px 0 13px; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #fff; height: 30px; border-radius: 15px; border: 1px solid #ccc; }

.btn_more2 span { position: relative; display: block; width: 100%; padding-right: 12px; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 28px; font-size: 13px; letter-spacing: -0.4px; background-image: url(../images/ico/arrow_more.svg); background-repeat: no-repeat; background-position: right 55%; }

.btn_write2 { padding: 0 15px; border-radius: 6px; border: solid 1px rgba(94, 37, 199, 0.2); color: #5e25c7; height: 36px; font-weight: 500; }

.btn_write2 span { display: block; padding-left: 17px; line-height: 34px; background: url(../images/ico/ico_pen.svg) no-repeat 0 center; }

.btn_plus { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; text-align: center; margin: 0 !important; height: 36px; line-height: 36px; background-color: #5e25c7; border-radius: 6px; color: #fff; font-size: 13px; font-weight: bold; }

.btn_plus i { display: inline-block; margin-right: 4px; vertical-align: top; width: 12px; height: 12px; position: relative; }

.btn_plus i::before { content: ''; position: absolute; left: 50%; top: 0; margin-left: -1px; width: 2px; height: 100%; background-color: #fff; border-radius: 2px; }

.btn_plus i::after { content: ''; position: absolute; left: 0; top: 50%; margin-top: -1px; width: 100%; height: 2px; background-color: #fff; border-radius: 2px; }

.btn_plus.ty_grey { border: 1px solid #e1e1e1; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 34px; background-color: #f5f5f5; color: #424242; }

.btn_plus.ty_grey i::after { background-color: #424242; }

.btn_plus.ty_grey i::before { background-color: #424242; }

.sc_user { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; min-width: 0; }

.sc_user .thumb { -ms-flex-negative: 0; flex-shrink: 0; width: 40px; height: 40px; border-radius: 50%; overflow: hidden; background: url("../images/ico/ico_empty_p.svg") #e5e5e5 no-repeat center center; background-size: 50%; border: none; }

.sc_user .thumb img { width: 100%; height: 100%; }

.sc_user .name { font-size: 13px; font-weight: 500; color: #212121; padding: 0 2px 0 6px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.sc_user2 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; min-width: 0; }

.sc_user2 .thumb { -ms-flex-negative: 0; flex-shrink: 0; width: 60px; height: 60px; border-radius: 50%; overflow: hidden; background: url("../images/ico/ico_empty_p.svg") #e5e5e5 no-repeat center center; background-size: 50%; border: none; }

.sc_user2 .thumb img { width: 100%; height: 100%; }

.sc_user2 .txt_box { padding-left: 10px; }

.sc_user2 .name { display: inline-block; vertical-align: top; font-size: 18px; line-height: 21px; font-weight: bold; color: #212121; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.sc_user2 .subscribers { display: inline-block; font-size: 12px; color: #424242; }

.sc_user2 .sc_level { vertical-align: top; margin-top: 2px; }

.sc_user2 .btn_my_edit { display: inline-block; vertical-align: top; height: 21px; width: 21px; background: url(../images/ico/ico_setting_c.svg) no-repeat center center; }

.sc_user2 .sec + .sec { margin-top: 4px; }

.sc_user3 { padding: 40px 20px; background-color: #fff; }

.sc_user3 .thumb { width: 100px; height: 100px; margin: 0 auto; border-radius: 50%; overflow: hidden; background-color: rgba(119, 0, 255, 0.07); background-image: url(../images/ico/ico_empty_p.svg); background-repeat: no-repeat; background-position: center center; background-size: 47px; }

.sc_user3 .thumb img { width: 100%; height: 100%; }

.sc_user3 .name_set { margin-top: 10px; display: none; text-align: center; }

.sc_user3 .name_set.on { display: block; }

.sc_user3 .name_set.ty_name { text-align: center; }

.sc_user3 .name_set .name { display: block; font-size: 18px; line-height: 21px; font-weight: bold; color: #212121; }

.sc_user3 .name_set .txt_area { margin-top: 20px; }

.sc_user3 .name_set .txt_status { font-size: 13px; line-height: 16px; }

.sc_user3 .name_set .txt_tip { font-size: 11px; line-height: 1.45; margin-top: 10px; }

.sc_user3 .name_set .name_set_top { text-align: center; position: relative; }

.sc_user3 .name_set .name_set_top .chk_overlap { width: 64px; height: 24px; line-height: 22px; border: 1px solid rgba(94, 37, 199, 0.5); -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 6px; color: #5e25c7; text-align: center; display: block; margin: 0 auto; margin-top: 15px; }

.sc_user3 .name_set .input_name_set { display: inline-block; text-align: center; position: relative; }

.sc_user3 .name_set .input_name_set .name { text-align: center; width: 160px; border: none; border-bottom: 1px solid rgba(94, 37, 199, 0.2); height: 30px; outline: none; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sc_user3 .name_set .input_name_set .ico_input { position: absolute; width: 20px; height: 20px; right: -24px; top: 4px; background-image: url(../images/ico/ico_edit2.svg); background-repeat: no-repeat; background-position: center center; }

.sc_user3 .name_set .input_name_set .byte_out { display: block; font-size: 10px; color: #999; line-height: 12px; margin-top: 5px; }

.sc_user3 .name_set .caution_list { margin-top: 20px; display: inline-block; vertical-align: top; text-align: left; }

.sc_user4 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; min-width: 0; }

.sc_user4 .thumb { -ms-flex-negative: 0; flex-shrink: 0; width: 18px; height: 18px; border-radius: 50%; overflow: hidden; background: url("../images/ico/ico_empty_p.svg") #e5e5e5 no-repeat center center; background-size: 50%; border: none; }

.sc_user4 .thumb img { width: 100%; height: 100%; }

.sc_user4 .name { font-size: 12px; font-weight: normal; color: #212121; padding-left: 4px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.top_writer_info { padding: 30px 20px 0; background-color: #fff; border-bottom: 1px solid #e5e5e5; }

.top_writer_info .sc_user2 { padding-bottom: 10px; }

.top_writer_info.ty_nopd { padding: 0; }

.sc_tab { display: -webkit-box; display: -ms-flexbox; display: flex; }

.sc_tab_item { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.sc_tab_link { display: block; position: relative; font-size: 14px; line-height: 40px; color: #212121; text-align: center; }

.sc_tab_link.on { color: #5e25c7; font-weight: bold; }

.sc_tab_link.on::after { content: ''; position: absolute; width: 100%; height: 2px; background-color: #5e25c7; left: 0; bottom: -1px; }

.sc_level { display: inline-block; -ms-flex-negative: 0; flex-shrink: 0; padding: 0 6px; position: relative; font-size: 11px; line-height: 17px; color: #fff; border-radius: 3px 3px 3px 0; margin-left: 10px; }

.sc_level .level_arrow { position: absolute; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top-width: 8px; border-top-style: solid; left: -6px; bottom: 0; }

.sc_level b { display: inline-block; vertical-align: top; font-size: 13px; line-height: 17px; font-weight: bold; }

.sc_level.lv1 { background-color: #e74c3c; }

.sc_level.lv1 .level_arrow { border-top-color: #e74c3c; }

.sc_level.lv2 { background-color: #e97820; }

.sc_level.lv2 .level_arrow { border-top-color: #e97820; }

.sc_level.lv3 { background-color: #ecb000; }

.sc_level.lv3 .level_arrow { border-top-color: #ecb000; }

.sc_level.lv4 { background-color: #b6ce00; }

.sc_level.lv4 .level_arrow { border-top-color: #b6ce00; }

.sc_level.lv5 { background-color: #55aad8; }

.sc_level.lv5 .level_arrow { border-top-color: #55aad8; }

.sc_level.lv6 { background-color: #3070ae; }

.sc_level.lv6 .level_arrow { border-top-color: #3070ae; }

.sc_level.lv7 { background-color: #8650c7; }

.sc_level.lv7 .level_arrow { border-top-color: #8650c7; }

.tag_list { position: relative; z-index: 10; font-size: 0; margin-left: -5px; margin-top: -5px; }

.tag_list.taC { text-align: center; }

.tag_list_item { width: auto; display: inline-block; margin-top: 5px; margin-left: 5px; }

.tag_list_btn { display: block; border: solid 1px rgba(0, 0, 0, 0.07); border-radius: 12px; padding: 0 10px; height: 24px; font-size: 12px; line-height: 22px; color: #424242; }

.tag_list_btn.on { border: solid 1px rgba(94, 37, 199, 0.5); color: #5e25c7; font-weight: 500; }

.tag_list .hidden_input { opacity: 0; position: absolute; z-index: -999; }

.tag_checkbox:checked ~ .tag_list_btn { border: solid 1px rgba(94, 37, 199, 0.5); color: #5e25c7; font-weight: 500; }

.layer_popup { display: none; position: fixed; z-index: 9999; }

.layer_popup.on { display: block; }

.layer_popup.ty_full { width: 100%; height: 100%; background-color: #fff; max-width: 740px; left: 50%; top: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.layer_popup.ty_full .layer_popup_tit { height: 40px; padding: 0 40px; -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1); position: absolute; left: 0; top: 0; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #fff; z-index: 9999; }

.layer_popup.ty_full .layer_popup_tit .btn_back { position: absolute; left: 0; top: 0; }

.layer_popup.ty_full .layer_popup_tit .tit { text-align: center; line-height: 40px; font-size: 16px; }

.layer_popup.ty_full .layer_popup_inner { height: 100%; padding: 40px 0 52px; -webkit-box-sizing: border-box; box-sizing: border-box; overflow-y: auto; }

.layer_popup.ty_full .layer_popup_bottom { position: absolute; background-color: #fff; z-index: 9999; bottom: 0; left: 0; width: 100%; height: 52px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.07); box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.07); }

.layer_popup.ty_full .layer_popup_cont { padding-bottom: 10px; }

.layer_popup.popup_cha_img_select { z-index: 99999; }

.layer_popup.ty_cha { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); left: 0; top: 0; }

.layer_popup.ty_cha .layer_popup_inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; height: 100%; }

.layer_popup.ty_cha .popup_cha_cont { position: relative; padding: 20px; width: 260px; border-radius: 20px 0 20px 20px; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #fff; text-align: center; }

.layer_popup.ty_cha .popup_cha_cont .btn_close { position: absolute; width: 40px; height: 40px; border-radius: 50%; right: 0; top: -20px; background: #fff url(../images/ico/ico_close.svg) no-repeat center center; }

.layer_popup.ty_cha .popup_cha_cont .thumb_box { display: block; position: relative; width: 60px; height: 60px; margin: 0 auto; }

.layer_popup.ty_cha .popup_cha_cont .thumb_box .img_box { width: 100%; height: 100%; border-radius: 50%; overflow: hidden; background: #e5e5e5 url(../images/ico/ico_empty_p.svg) no-repeat center center; }

.layer_popup.ty_cha .popup_cha_cont .thumb_box .img_box img { width: 100%; height: 100%; }

.layer_popup.ty_cha .popup_cha_cont .thumb_box::after { content: ''; position: absolute; right: 0; bottom: 0; width: 20px; height: 20px; border-radius: 50%; background: #fff url("../images/ico/ico_camera.svg") no-repeat center center; }

.layer_popup.ty_cha .popup_cha_cont .cha_name { display: block; width: 160px; margin: 0 auto; margin-top: 10px; height: 30px; font-size: 14px; border: none; outline: none; text-align: center; border-bottom: 1px solid #e5e5e5; }

.layer_popup.ty_cha .popup_cha_cont .btn_area { margin-top: 20px; }

.layer_popup.ty_cha .popup_cha_cont .btn_area.ty_edit { display: none; }

.layer_popup.ty_cha .popup_cha_cont .btn_mid { min-width: 80px; width: 80px; }

.layer_popup.ty_cha.editing .popup_cha_cont .btn_area.ty_add { display: none; }

.layer_popup.ty_cha.editing .popup_cha_cont .btn_area.ty_edit { display: block; }

.layer_popup.ty2 { background-color: rgba(0, 0, 0, 0.5); left: 0; top: 0; height: 100%; width: 100%; }

.layer_popup .layer_cautions { position: absolute; max-width: 740px; border-radius: 20px 20px 0 0; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); bottom: 0; width: 100%; padding: 40px 35px; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #fff; }

.layer_popup .layer_cautions .layer_cautions_tit { font-size: 24px; line-height: 1.25; text-align: center; margin-bottom: 18px; }

.layer_popup .layer_cautions .caution_list2 li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.layer_popup .layer_cautions .caution_list2 li + li { margin-top: 20px; }

.layer_popup .layer_cautions .caution_list2 li .thumb { -ms-flex-negative: 0; flex-shrink: 0; width: 90px; height: 90px; background-color: rgba(94, 37, 199, 0.07); border-radius: 50%; overflow: hidden; }

.layer_popup .layer_cautions .caution_list2 li .thumb img { width: 100%; height: 100%; }

.layer_popup .layer_cautions .caution_list2 li .txt_box { padding-left: 10px; }

.layer_popup .layer_cautions .caution_list2 li .txt_box .tit { font-size: 14px; line-height: 16px; margin-bottom: 8px; }

.layer_popup .layer_cautions .caution_list2 li .txt_box p { font-size: 13px; line-height: 1.38; color: #424242; font-family: 'Noto Sans KR'; font-weight: 400; }

.tab_set .tab_btns { display: -webkit-box; display: -ms-flexbox; display: flex; }

.tab_set .tab_btns .tab_btn { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; height: 40px; line-height: 39px; text-align: center; color: #212121; border-bottom: 2px solid #f5f5f5; }

.tab_set .tab_btns .tab_btn.on { border-color: #5e25c7; color: #5e25c7; font-weight: 500; }

.tab_set .tab_cont { display: none; }

.tab_set .tab_cont.on { display: block; }

.tab_set .tab_cont_inner { padding: 20px; }

.file_box { position: relative; }

.file_box_txt { height: 40px; width: 100%; padding: 0 40px 0 10px; border: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box; outline: none; text-overflow: ellipsis; overflow: hidden; color: #424242; cursor: pointer; }

.file_box_txt::-webkit-input-placeholder { color: #424242; }

.file_box_txt:-ms-input-placeholder { color: #424242; }

.file_box_txt::-ms-input-placeholder { color: #424242; }

.file_box_txt::placeholder { color: #424242; }

.file_box .input_file { position: absolute; left: 0; top: 0; width: 0; height: 0; opacity: 0; z-index: -1; }

.file_box .btn_search { position: absolute; width: 100%; height: 100%; left: 0; top: 0; cursor: pointer; }

.file_box .btn_search::after { content: ''; position: absolute; width: 40px; height: 40px; background: url(../images/ico/Ico_search.svg) no-repeat center center; right: 0; top: 0; }

.caution_list.ty_bot { margin-top: 10px; }

.caution_list li { position: relative; padding-left: 12px; font-size: 11px; line-height: 1.45; color: #999; }

.caution_list li + li { margin-top: 8px; }

.caution_list li::before { content: '※'; position: absolute; left: 0; top: 0; }

.popup_img_list { font-size: 0; padding: 4px; }

.popup_img_item { display: inline-block; vertical-align: top; padding: 4px; -webkit-box-sizing: border-box; box-sizing: border-box; width: 25%; }

.popup_img_link { display: block; position: relative; padding-top: 100%; }

.popup_img_link .img_box { position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; }

.popup_img_link .img_box img { width: 100%; height: 100%; opacity: 0.7; }

.popup_img_link.on::after { content: ''; position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 10; border: 3px solid #f00; -webkit-box-sizing: border-box; box-sizing: border-box; }

.popup_img_link.on .img_box img { opacity: 1; }

.top_sort_area { margin-bottom: 40px; }

.top_sort_area .top_sort_sec + .top_sort_sec { margin-top: 15px; }

.sc_search { display: inline-block; vertical-align: top; border-bottom: 1px solid #424242; position: relative; z-index: 10; width: 100%; max-width: 500px; }

.sc_search_wrap.taR { text-align: right; }

.sc_search_wrap.taC { text-align: center; }

.sc_search_input { height: 40px; border: none; outline: none; width: 100%; font-size: 13px; padding-right: 40px; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: left; }

.sc_search_btn { position: absolute; width: 40px; height: 40px; border: none; outline: none; background: url(../images/ico/Ico_search.svg) no-repeat center center; right: 0; top: 0; }

.top_chk_area { margin-bottom: 30px; text-align: right; }

.chk_toggle { display: inline-block; vertical-align: top; position: relative; z-index: 10; cursor: pointer; overflow: hidden; }

.chk_toggle_set { display: inline-block; vertical-align: top; }

.chk_toggle_tit { font-size: 13px; line-height: 24px; color: #999; display: inline-block; vertical-align: top; margin-right: 2px; }

.chk_toggle .hidden_chk { position: absolute; z-index: -999; opacity: 0; visibility: hidden; }

.chk_toggle .hidden_chk:checked ~ .chk_toggle_box { background-color: #5e25c7; }

.chk_toggle .hidden_chk:checked ~ .chk_toggle_box .chk_toggle_ico { left: 28px; }

.chk_toggle .hidden_chk:checked ~ .chk_toggle_box .txt_on { opacity: 1; }

.chk_toggle_box { display: block; position: relative; width: 50px; height: 24px; border-radius: 12px; background-color: #e1e1e1; -webkit-transition: background-color .1s ease-in-out; transition: background-color .1s ease-in-out; }

.chk_toggle_ico { position: absolute; width: 20px; height: 20px; left: 2px; top: 2px; border-radius: 50%; background-color: #fff; -webkit-transition: left .1s ease-in-out; transition: left .1s ease-in-out; }

.chk_toggle .txt_on { opacity: 0; color: #fff; font-size: 10px; font-weight: bold; font-family: Arial; position: absolute; line-height: 24px; left: 7px; top: 0.5px; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-transition: opacity .1s ease-in-out; transition: opacity .1s ease-in-out; }

.top_cate { padding: 16px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: rgba(119, 0, 255, 0.07); margin-bottom: 40px; text-align: center; }

.top_cate_list { font-size: 0; max-width: 100%; overflow-x: auto; }

.top_cate_item { display: inline-block; vertical-align: top; }

.top_cate_item + .top_cate_item { margin-left: 20px; }

.top_cate_link { display: block; height: 40px; line-height: 38px; color: #21015d; font-size: 16px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.top_cate_link.on { padding: 0 20px; background-color: #fff; border-radius: 20px; font-size: 18px; border: solid 1px rgba(119, 0, 255, 0.2); color: #5e25c7; font-weight: bold; }

.sub_header { position: absolute; z-index: 9999; left: 0; top: 0; width: 100%; }

.sub_header.ty_list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.sub_header .setting_set { position: absolute; right: 0; top: 0; }

.sub_header .setting_set .btn_setting { width: 40px; height: 40px; background: url(../images/ico/ico_setting.svg) no-repeat center center; }

.sub_header .setting_set .btn_setting.ty_white { background-image: url(../images/ico/ico_menu_b.svg); }

.sub_header .setting_set .setting_box { display: none; position: absolute; right: 6px; top: 100%; border-radius: 6px; background-color: #fff; -webkit-box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.3); box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.3); }

.sub_header .setting_set .setting_box.on { display: block; }

.sub_header .setting_set .setting_box::before { content: ''; position: absolute; bottom: 100%; right: 8px; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #fff; border-top: none; }

.sub_header .setting_set .setting_box li + li { border-top: 1px solid #f5f5f5; }

.sub_header .setting_set .setting_box a, .sub_header .setting_set .setting_box button { display: block; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 17px; white-space: nowrap; text-align: center; line-height: 36px; font-size: 13px; font-weight: 500; color: #343434; }

.sub_header .setting_set .setting_box a:hover, .sub_header .setting_set .setting_box button:hover { background-color: rgba(0, 0, 0, 0.03); }

.sub_header .util { display: -webkit-box; display: -ms-flexbox; display: flex; }

.sub_header .util .btn { display: inline-block; vertical-align: top; width: 40px; height: 40px; background-repeat: no-repeat; background-position: center center; }

.sub_header .util .btn_like { background-image: url(../images/ico/btn_heart.svg); }

.sub_header .util .btn_like.on { background-image: url(../images/ico/btn_heart_on.svg); }

.sub_header .util .btn_subscribe { background-image: url(../images/ico/btn_star.svg); }

.sub_header .util .btn_subscribe.on { background-image: url(../images/ico/btn_star_on.svg); }

.sub_header.ty_view { position: fixed; max-width: 740px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 40px; height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.5); }

.sub_header.ty_view .tit_area { font-size: 16px; line-height: 40px; color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.sub_header.ty_view .tit_area .tit { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 16px; font-weight: normal; }

.sub_header.ty_view .tit_area .count_box { display: inline-block; padding-left: 10px; white-space: nowrap; -ms-flex-negative: 0; flex-shrink: 0; }

.sub_header.ty_view .btn_back { position: absolute; left: 0; top: 0; }

.sub_header.ty_write { position: fixed; max-width: 740px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 40px; padding-right: 10px; height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.5); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.sub_header.ty_write .btn_back { position: absolute; left: 0; top: 0; }

.sub_header.ty_write .btn_save { position: absolute; right: 0; top: 0; }

.sub_header.ty_write .write_tit { padding-left: 24px; position: relative; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-sizing: border-box; box-sizing: border-box; min-width: 0; }

.sub_header.ty_write .write_tit_input { background-color: transparent; height: 24px; line-height: 24px; -webkit-box-sizing: border-box; box-sizing: border-box; border: none !important; outline: none; width: 100%; border: none; font-size: 14px; text-overflow: ellipsis; color: #fff; }

.sub_header.ty_write .write_tit_input::-webkit-input-placeholder { color: #fff; }

.sub_header.ty_write .write_tit_input:-ms-input-placeholder { color: #fff; }

.sub_header.ty_write .write_tit_input::-ms-input-placeholder { color: #fff; }

.sub_header.ty_write .write_tit_input::placeholder { color: #fff; }

.sub_header.ty_write .write_tit .btn_write { width: 24px; height: 24px; position: absolute; left: 0; top: 0; }

.sub_header.ty_write .btn_set { -ms-flex-negative: 0; flex-shrink: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-left: 15px; }

.sub_header.ty_write .btn_set .btn_small { padding: 0 8px; }

.sub_header.ty_write .btn_set .btn_small + .btn_small { margin-left: 10px; }

.sub_header.ty_w { position: fixed; max-width: 740px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 40px; height: 40px; text-align: center; background-color: #fff; -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1); }

.sub_header.ty_w .tit { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 16px; line-height: 40px; font-weight: normal; }

.sub_header.ty_w .btn_back { position: absolute; left: 0; top: 0; background: url("../images/ico/arrow_l_b.svg") no-repeat center center; }

.sub_header.ty_w .btn_save { position: absolute; right: 0; top: 0; }

.sub_header .chk_toggle_set { position: absolute; right: 20px; top: 50%; margin-top: -12px; }

.sc_tit h1, .sc_tit h2, .sc_tit h3, .sc_tit h4 { font-weight: 500; }

.sc_thumb { padding-top: 100%; position: relative; }

.sc_thumb_img { position: absolute; width: 100%; height: 100%; left: 0; top: 0; border-radius: 8px; overflow: hidden; }

.sc_thumb_img img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }

.sc_thumb_img:hover img { -webkit-transform: scale(1.05); transform: scale(1.05); }

.sc_thumb .sc_tag_box { position: absolute; left: 0; top: -6px; z-index: 10; }

.sc_thumb.ty_noresize { padding-top: 0; }

.sc_thumb.ty_noresize .sc_thumb_img { position: relative; width: auto; height: auto; }

.sc_thumb.ty_noresize .sc_thumb_img img { width: 100%; -o-object-fit: cover; object-fit: cover; }

.sc_tag { display: inline-block; vertical-align: top; }

.sc_tag_box { font-size: 0; }

.sc_tag_box .sc_tag + .sc_tag { margin-left: 4px; }

.sc_tag.finish { display: inline-block; width: 25px; height: 14px; line-height: 14px; background-color: #5e25c7; font-size: 10px; color: #fff; text-align: center; border-radius: 3px; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; }

.sc_tag.up { width: 20px; height: 14px; line-height: 13px; background-color: #00bee5; font-size: 10px; color: #fff; text-align: center; border-radius: 7px; }

.sc_tag.up span { display: block; -webkit-transform: scale(0.8); transform: scale(0.8); -webkit-transform-origin: center center; transform-origin: center center; }

.sc_tag.pay { width: 14px; height: 14px; line-height: 14px; background-color: #ff8000; font-size: 10px; color: #fff; text-align: center; border-radius: 50%; }

.sc_tag.pay span { display: block; -webkit-transform: scale(0.8); transform: scale(0.8); -webkit-transform-origin: center center; transform-origin: center center; }

.sc_tag.re { width: 20px; height: 14px; line-height: 10px; font-size: 10px; color: #424242; border: 1px solid rgba(0, 0, 0, 0.3); -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; border-radius: 7px; background-color: #fff; }

.sc_tag.re span { display: block; -webkit-transform: scale(0.9); transform: scale(0.9); -webkit-transform-origin: center center; transform-origin: center center; }

.sc_tag.ty_txt { border: solid 1px rgba(94, 37, 199, 0.3); border-radius: 3px; height: 16px; line-height: 13px; font-size: 11px; color: #5e25c7; padding: 0 5px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sc_tag.service { background-color: #50c785; font-size: 10px; line-height: 14px; color: #fff; letter-spacing: -0.1px; border-radius: 3px; padding: 0 3px; }

.sc_tag.hold { border: 1px solid #50c785; font-size: 10px; line-height: 12px; height: 14px; font-weight: 500; -webkit-box-sizing: border-box; box-sizing: border-box; color: #50c785; letter-spacing: -0.1px; border-radius: 3px; padding: 0 3px; }

.sc_tag.false { border: 1px solid #ff8000; font-size: 10px; line-height: 12px; height: 14px; font-weight: 500; -webkit-box-sizing: border-box; box-sizing: border-box; color: #ff8000; letter-spacing: -0.1px; border-radius: 3px; padding: 0 3px; }

.sc_tag.save { border: 1px solid rgba(0, 0, 0, 0.3); font-size: 10px; line-height: 12px; height: 14px; font-weight: 500; -webkit-box-sizing: border-box; box-sizing: border-box; color: #424242; letter-spacing: -0.1px; border-radius: 3px; padding: 0 3px; }

.sc_counter.ty1 { padding: 0 10px 0 5px; position: absolute; left: 0; bottom: 0; margin-left: -4px; background-color: rgba(0, 0, 0, 0.3); border-radius: 0 8px 8px 0; }

.sc_counter.ty1 .sc_counter_item { display: inline-block; vertical-align: top; padding-left: 12px; position: relative; font-size: 11px; line-height: 17px; background-repeat: no-repeat; background-position: 0 center; color: #fff; margin-left: 4px; }

.sc_counter.ty1 .sc_counter_view { background-image: url(../images/ico/sc_ico_view.svg); }

.sc_counter.ty1 .sc_counter_like { background-image: url(../images/ico/sc_ico_like.svg); }

.sc_counter.ty2 { margin-left: -10px; }

.sc_counter.ty2 .sc_counter_item { display: inline-block; vertical-align: top; padding-left: 16px; position: relative; font-size: 12px; line-height: 18px; background-repeat: no-repeat; background-position: 0 center; color: #666; margin-left: 10px; }

.sc_counter.ty2 .sc_counter_view { background-image: url(../images/ico/sc_ico_view_c.svg); }

.sc_counter.ty2 .sc_counter_like { padding-left: 13px; background-image: url(../images/ico/sc_ico_like_c.svg); }

.sc_counter.ty2 .sc_counter_star { padding-left: 13px; background-image: url(../images/ico/sc_ico_star_c.svg); }

.sc_kw { margin-left: -5px; margin-top: -4px; }

.sc_kw_item { display: inline-block; vertical-align: top; font-size: 12px; line-height: 14px; color: #21015d; margin-left: 5px; margin-top: 4px; }

.sc_writer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.sc_writer_thumb { width: 18px; height: 18px; -ms-flex-negative: 0; flex-shrink: 0; border-radius: 50%; overflow: hidden; }

.sc_writer_thumb img { width: 100%; height: 100%; }

.sc_writer_name { padding-left: 4px; min-width: 0; font-size: 12px; line-height: 1.42; letter-spacing: -0.12px; color: #424242; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.sc_writer.ty_w .sc_writer_name { color: #fff; }

.sc_thumb_rank { position: absolute; font-size: 45px; line-height: 1; font-family: Arial; letter-spacing: -0.45px; color: #5e25c7; text-shadow: 3px 3px 3px rgba(94, 37, 199, 0.2); right: 12px; top: -25px; z-index: 10; font-weight: 900; }

.input_ty1 { width: 100%; height: 40px; border-radius: 3px; border: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 10px; color: #424242; outline: none; border-radius: 4px; }

.ta_ty1 { width: 100%; height: 120px; padding: 10px; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 3px; border: 1px solid #ccc; box-sizing: border-box; color: #424242; outline: none; border-radius: 4px; }

.write_intro_wrap { padding: 30px 20px; }

.write_intro_wrap .write_intro_sec + .write_intro_sec { margin-top: 30px; }

.write_intro_wrap .write_intro_sec_tit { margin-bottom: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.write_intro_wrap .write_intro_sec_tit h2 { font-size: 14px; color: #212121; line-height: 17px; }

.write_intro_wrap .write_intro_sec_tit .sub_txt { width: 100%; color: #666; font-size: 11px; line-height: 13px; margin-top: 6px; }

.write_intro_wrap .write_intro_sec_tit .btn_chk { font-size: 11px; line-height: 17px; letter-spacing: -0.33px; color: #666; }

.write_intro_wrap .write_intro_top .write_intro_ta { margin-top: 10px; }

.sc_radio { display: inline-block; }

.sc_radio input[type="radio"] { position: absolute; z-index: -999; opacity: 1; }

.sc_radio input[type="radio"]:checked ~ .sc_radio_btn { border-color: rgba(94, 37, 199, 0.5); color: #5e25c7; }

.sc_radio input[type="radio"]:checked ~ .sc_radio_btn::before { background-color: #5e25c7; border-color: #5e25c7; }

.sc_radio_btn { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 0 8px; font-size: 12px; font-weight: 500; color: #424242; line-height: 22px; height: 24px; border: 1px solid #f5f5f5; border-radius: 12px; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.sc_radio_btn::before { content: ''; width: 8px; height: 8px; border-radius: 50%; border: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box; margin-right: 5px; }

.no_result { display: inline-block; vertical-align: top; border: 1px solid #333; padding: 30px; text-align: center; }

.no_result_wrap { text-align: center; margin: 50px 0; }

.no_result .txt { font-size: 20px; line-height: 1.4; word-break: break-all; }

.no_result .fc_red { display: inline-block; color: #f00; }

.no_result .list_dot { display: inline-block; vertical-align: top; margin-top: 15px; vertical-align: top; text-align: left; }

.no_result .list_dot li { padding-left: 10px; font-size: 14px; line-height: 1.5; position: relative; }

.no_result .list_dot li::before { content: '·'; position: absolute; left: 0; top: 0; }

@media (max-width: 1024px) { .header { min-width: auto; }
  .header_top { padding: 0 30px; }
  #wrap { min-width: auto; }
  .inner { padding: 0 30px; } }

@media (max-width: 767px) { #container.sub { padding-top: 100px; padding-bottom: 50px; }
  #container.sub.has_mv { padding-top: 0; }
  #container.sub.no_mv { padding-top: 100px; }
  .inner { padding: 0 20px; }
  .header { min-width: auto; position: fixed; padding-bottom: 0; border-bottom: none; -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1); /* @at-root .main &.bgon { background-color: #fff; .header_top { .logo { background-image: url(../images/LOGO.png); } } .nav_area { .nav_list li a { color: #212121; } } .header_util { .btn_mypage { background-image: url(/images/ico/ico_mem_b.svg); } .btn_lm { .bar_box .bar { background-color: #212121; } } } } */ }
  .header_top { padding: 0 20px; }
  .header_top_inner { height: 60px; }
  .header_top_inner .logo { height: 45px; width: 60px; background-size: contain; }
  .header_util { right: -10px; }
  .header_util .btn_mypage { width: 40px; height: 40px; background-size: 20px; }
  .header_util .btn_lm { width: 40px; height: 40px; margin-left: 0; }
  .header_util .btn_lm .bar_box { width: 20px; height: 18px; }
  .header_util .btn_lm .bar_box .bar.mid { top: 8px; }
  .header_util .btn_lm .bar_box .bar.bot { top: 16px; }
  .header .nav_area { height: 40px; }
  .header .nav_area .nav_list li + li { margin-left: 20px; }
  .header .nav_area .nav_list li a { font-size: 16px; line-height: 40px; }
  .header .nav_area .nav_list li a span { padding: 0 5px; }
  .header .nav_area .nav_list li.on a { font-size: 18px; }
  .top_cate { padding: 9px 10px; margin-bottom: 20px; }
  .top_cate_item + .top_cate_item { margin-left: 10px; }
  .top_cate_link { height: 30px; line-height: 28px; font-size: 12px; }
  .top_cate_link.on { padding: 0 15px; border-radius: 15px; font-size: 13px; }
  .sc_thumb_rank { font-size: 30px; line-height: 1; right: 6px; top: -17px; }
  .sc_counter.ty2 .sc_counter_item { font-size: 10px; line-height: 14px; }
  .sc_counter.ty1 .sc_counter_item { font-size: 10px; line-height: 14px; }
  .btn_more { padding: 0; background-color: transparent; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; width: auto; height: 26px; }
  .btn_more span { padding-right: 12px; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 26px; }
  .top_sort_area { margin-bottom: 20px; }
  .top_sort_area .top_sort_sec + .top_sort_sec { margin-top: 11px; }
  .top_sort_area .tag_list { text-align: left; }
  .sc_search { width: 100%; max-width: none; }
  .top_chk_area { margin-bottom: 15px; }
  .no_result { padding: 15px; }
  .no_result_wrap { margin: 30px 0; }
  .no_result .txt { font-size: 16px; }
  .no_result .list_dot li { font-size: 12px; } }
