@charset "UTF-8";
@import url(../css/font.css);
.header { position: fixed; z-index: 9999; width: 100%; left: 0; top: 0; }

.header_top { height: 60px; padding-top: 12px; position: relative; text-align: center; }

.header_top .logo { display: inline-block; vertical-align: top; width: 68px; height: 45px; background-image: url(../images/LOGO_W.png); background-repeat: no-repeat; background-position: center center; background-size: cover; }

.header_util { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; right: 0; top: 0; }

.header_util .btn_mypage { display: block; width: 40px; height: 50px; background: url(../images/ico_member.svg) no-repeat center center; background-size: cover; }

.header_util .btn_lm { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 40px; height: 50px; position: relative; }

.header_util .btn_lm .bar_box { width: 16px; height: 17px; position: relative; }

.header_util .btn_lm .bar_box .bar { position: absolute; width: 100%; height: 1px; background-color: #fff; left: 0%; }

.header_util .btn_lm .bar_box .bar.top { top: 0; }

.header_util .btn_lm .bar_box .bar.mid { top: 8px; }

.header_util .btn_lm .bar_box .bar.bot { width: 60%; top: 16px; }

.header .nav_area { position: relative; height: 40px; }

.header .nav_area .nav { position: absolute; width: 100%; height: 40px; text-align: center; }

.header .nav_area .nav_list li { display: inline-block; vertical-align: top; }

.header .nav_area .nav_list li a { display: block; font-size: 16px; font-weight: bold; line-height: 40px; color: #fff; padding: 0 20px; }

.mv { position: absolute; width: 100%; height: 100%; left: 0; top: 0; }

.mv_wrap { position: relative; padding-top: 100%; }

.mv_item { height: 100%; }

.mv_item1 { background-color: aqua; }

.mv_item2 { background-color: blueviolet; }

.mv_item3 { background-color: chocolate; }

.sub_inner { position: relative; max-width: 740px; margin: 0 auto; }

.footer { background-color: #f5f5f5; padding: 20px 16px; text-align: center; }

.footer_menu { font-size: 0; margin-bottom: 12px; }

.footer_menu li { display: inline-block; vertical-align: top; padding: 0 10px; position: relative; }

.footer_menu li::after { content: ''; position: absolute; width: 1px; height: 10px; background-color: #ccc; right: 0; top: 50%; margin-top: -5px; }

.footer_menu li:last-child::after { display: none; }

.footer_menu a { display: block; font-size: 11px; line-height: 1.82; letter-spacing: -0.55px; }

.footer .footer_policy { -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 500px; margin: 0 auto; background-color: #fff; text-align: left; border: 1px solid rgba(0, 0, 0, 0.1); }

.footer .footer_policy_tit button { display: block; width: 100%; line-height: 30px; padding: 0 12px; position: relative; font-size: 12px; font-weight: bold; text-align: left; }

.footer .footer_policy_tit button i { position: absolute; width: 12px; height: 7px; background-image: url(../images/ico/ico_open.svg); background-repeat: no-repeat; background-position: center center; right: 12px; top: 50%; margin-top: -3.5px; }

.footer_policy.on .footer .footer_policy { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.footer .footer_policy .txt_box { display: none; border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 9px 11px; font-size: 10px; color: #666; line-height: 1.6; letter-spacing: -0.3px; }

.footer .copy { font-size: 11px; line-height: 13px; font-weight: 500; margin-top: 12px; }

.container_ty1 { padding-top: 60px; background-color: #fff; }

/* btns */
.btn_area.ty_bot { margin-top: 30px; }

.btn_area.taC { text-align: center; }

.btn_area.taR { text-align: right; }

.btn_small { display: inline-block; vertical-align: top; height: 24px; line-height: 22px; padding: 0 5px; border-radius: 6px; font-size: 12px; font-weight: 400; border-style: solid; border-width: 1px; }

.btn_small.white { color: #fff; border-color: #fff; }

.btn_small.grey { padding: 0 10px; color: #424242; background-color: #f5f5f5; border-color: rgba(0, 0, 0, 0.07); }

.btn_save { display: inline-block; vertical-align: top; width: 40px; height: 40px; background-repeat: no-repeat; background-position: center center; background-image: url(../images/ico/ico_save.svg); }

.btn_save.white { background-image: url(../images/ico/ico_save_w.svg); }

.btn_write { display: inline-block; vertical-align: top; background-repeat: no-repeat; background-position: center center; background-image: url(../images/ico/ico_write.svg); }

.btn_write.white { background-image: url(../images/ico/ico_write_w.svg); }

.btn_back { width: 40px; height: 40px; background: url(../images/ico/arrow_r.svg) no-repeat center center; }

.btn_back.black { background-image: url(../images/ico/arrow_l_b.svg); }

.btn_mid { height: 36px; line-height: 34px; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 6px; border: 1px solid #5e25c7; background-color: #5e25c7; text-align: center; padding: 0 15px; min-width: 120px; color: #fff; font-size: 13px; font-weight: 500; }

.btn_mid.white { color: #5e25c7; background-color: #fff; }

.layer_popup { display: none; position: fixed; z-index: 9999; }

.layer_popup.on { display: block; }

.layer_popup.ty_full { width: 100%; height: 100%; background-color: #fff; max-width: 740px; left: 50%; top: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.layer_popup.ty_full .layer_popup_tit { height: 40px; padding: 0 40px; -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1); position: absolute; left: 0; top: 0; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #fff; z-index: 9999; }

.layer_popup.ty_full .layer_popup_tit .btn_back { position: absolute; left: 0; top: 0; }

.layer_popup.ty_full .layer_popup_tit .tit { text-align: center; line-height: 40px; font-size: 16px; }

.layer_popup.ty_full .layer_popup_inner { height: 100%; padding: 40px 0 52px; -webkit-box-sizing: border-box; box-sizing: border-box; overflow-y: auto; }

.layer_popup.ty_full .layer_popup_bottom { position: absolute; background-color: #fff; z-index: 9999; bottom: 0; left: 0; width: 100%; height: 52px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.07); box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.07); }

.layer_popup.ty_full .layer_popup_cont { padding-bottom: 10px; }

.layer_popup.popup_cha_img_select { z-index: 99999; }

.layer_popup.popup_cha_select { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); left: 0; top: 0; }

.layer_popup.popup_cha_select .layer_popup_inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; height: 100%; }

.layer_popup.popup_cha_select .popup_cha_cont { position: relative; padding: 20px; width: 260px; border-radius: 20px 0 20px 20px; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #fff; text-align: center; }

.layer_popup.popup_cha_select .popup_cha_cont .btn_close { position: absolute; width: 40px; height: 40px; border-radius: 50%; right: 0; top: -20px; background: #fff url(../images/ico/ico_close.svg) no-repeat center center; }

.layer_popup.popup_cha_select .popup_cha_cont .thumb_box { display: block; position: relative; width: 60px; height: 60px; margin: 0 auto; }

.layer_popup.popup_cha_select .popup_cha_cont .thumb_box .img_box { width: 100%; height: 100%; border-radius: 50%; overflow: hidden; background: #e5e5e5 url(../images/ico/ico_empty_p.svg) no-repeat center center; }

.layer_popup.popup_cha_select .popup_cha_cont .thumb_box .img_box img { width: 100%; height: 100%; }

.layer_popup.popup_cha_select .popup_cha_cont .thumb_box::after { content: ''; position: absolute; right: 0; bottom: 0; width: 20px; height: 20px; border-radius: 50%; background: #fff url("../images/ico/ico_camera.svg") no-repeat center center; }

.layer_popup.popup_cha_select .popup_cha_cont .cha_name { display: block; width: 160px; margin: 0 auto; margin-top: 10px; height: 30px; font-size: 14px; border: none; outline: none; text-align: center; border-bottom: 1px solid #e5e5e5; }

.layer_popup.popup_cha_select .popup_cha_cont .btn_area { margin-top: 20px; }

.layer_popup.popup_cha_select .popup_cha_cont .btn_mid { min-width: 80px; width: 80px; }

.tab_set .tab_btns { display: -webkit-box; display: -ms-flexbox; display: flex; }

.tab_set .tab_btns .tab_btn { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; height: 40px; line-height: 39px; text-align: center; color: #212121; border-bottom: 2px solid #f5f5f5; }

.tab_set .tab_btns .tab_btn.on { border-color: #5e25c7; color: #5e25c7; font-weight: 500; }

.tab_set .tab_cont { display: none; }

.tab_set .tab_cont.on { display: block; }

.tab_set .tab_cont_inner { padding: 20px; }

.file_box { position: relative; }

.file_box_txt { height: 40px; width: 100%; padding: 0 40px 0 10px; border: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box; outline: none; text-overflow: ellipsis; overflow: hidden; color: #424242; }

.file_box_txt::-webkit-input-placeholder { color: #424242; }

.file_box_txt:-ms-input-placeholder { color: #424242; }

.file_box_txt::-ms-input-placeholder { color: #424242; }

.file_box_txt::placeholder { color: #424242; }

.file_box .input_file { position: absolute; left: 0; top: 0; width: 0; height: 0; opacity: 0; z-index: -1; }

.file_box .btn_search { position: absolute; width: 100%; height: 100%; left: 0; top: 0; }

.file_box .btn_search::after { content: ''; position: absolute; width: 40px; height: 40px; background: url(../images/ico/Ico_search.svg) no-repeat center center; right: 0; top: 0; }

.caution_list.ty_bot { margin-top: 10px; }

.caution_list li { position: relative; padding-left: 12px; font-size: 11px; line-height: 1.45; color: #999; }

.caution_list li + li { margin-top: 8px; }

.caution_list li::before { content: '※'; position: absolute; left: 0; top: 0; }

.popup_img_list { font-size: 0; padding: 4px; }

.popup_img_item { display: inline-block; vertical-align: top; padding: 4px; -webkit-box-sizing: border-box; box-sizing: border-box; width: 25%; }

.popup_img_link { display: block; position: relative; padding-top: 100%; }

.popup_img_link .img_box { position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; }

.popup_img_link .img_box img { width: 100%; height: 100%; opacity: 0.7; }

.popup_img_link.on::after { content: ''; position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 10; border: 3px solid #f00; -webkit-box-sizing: border-box; box-sizing: border-box; }

.popup_img_link.on .img_box img { opacity: 1; }

.sub_header { position: absolute; z-index: 9999; left: 0; top: 0; width: 100%; }

.sub_header.ty_list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.sub_header .setting_set { position: absolute; right: 0; top: 0; }

.sub_header .setting_set .btn_setting { width: 40px; height: 40px; background: url(../images/ico/ico_setting.svg) no-repeat center center; }

.sub_header .setting_set .setting_box { display: none; position: absolute; right: 6px; top: 100%; border-radius: 6px; background-color: #fff; }

.sub_header .setting_set .setting_box.on { display: block; }

.sub_header .setting_set .setting_box::before { content: ''; position: absolute; bottom: 100%; right: 8px; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #fff; border-top: none; }

.sub_header .setting_set .setting_box li + li { border-top: 1px solid #f5f5f5; }

.sub_header .setting_set .setting_box a { display: block; padding: 0 17px; white-space: nowrap; text-align: center; line-height: 36px; font-size: 13px; font-weight: 500; color: #343434; }

.sub_header .util { display: -webkit-box; display: -ms-flexbox; display: flex; }

.sub_header .util .btn { display: inline-block; vertical-align: top; width: 40px; height: 40px; background-repeat: no-repeat; background-position: center center; }

.sub_header .util .btn_like { background-image: url(../images/ico/btn_heart.svg); }

.sub_header .util .btn_subscribe { background-image: url(../images/ico/btn_star.svg); }

.sub_header.ty_view { position: fixed; max-width: 740px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 40px; height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.5); }

.sub_header.ty_view .tit_area { font-size: 16px; line-height: 40px; color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.sub_header.ty_view .tit_area .tit { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 16px; font-weight: normal; }

.sub_header.ty_view .tit_area .count_box { display: inline-block; padding-left: 10px; white-space: nowrap; -ms-flex-negative: 0; flex-shrink: 0; }

.sub_header.ty_view .btn_back { position: absolute; left: 0; top: 0; }

.sub_header.ty_write { position: fixed; max-width: 740px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 40px; height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.5); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.sub_header.ty_write .btn_back { position: absolute; left: 0; top: 0; }

.sub_header.ty_write .btn_save { position: absolute; right: 0; top: 0; }

.sub_header.ty_write .write_tit { padding-left: 24px; position: relative; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-sizing: border-box; box-sizing: border-box; min-width: 0; }

.sub_header.ty_write .write_tit_input { background-color: transparent; height: 24px; line-height: 24px; -webkit-box-sizing: border-box; box-sizing: border-box; border: none !important; outline: none; width: 100%; border: none; font-size: 14px; text-overflow: ellipsis; color: #fff; }

.sub_header.ty_write .write_tit_input::-webkit-input-placeholder { color: #fff; }

.sub_header.ty_write .write_tit_input:-ms-input-placeholder { color: #fff; }

.sub_header.ty_write .write_tit_input::-ms-input-placeholder { color: #fff; }

.sub_header.ty_write .write_tit_input::placeholder { color: #fff; }

.sub_header.ty_write .write_tit .btn_write { width: 24px; height: 24px; position: absolute; left: 0; top: 0; }

.sub_header.ty_write .btn_set { -ms-flex-negative: 0; flex-shrink: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-left: 15px; }

.sub_header.ty_write .btn_set .btn_small + .btn_small { margin-left: 5px; }

.sub_header.ty_w { position: fixed; max-width: 740px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 40px; height: 40px; text-align: center; background-color: #fff; -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1); }

.sub_header.ty_w .tit { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 16px; line-height: 40px; font-weight: normal; }

.sub_header.ty_w .btn_back { position: absolute; left: 0; top: 0; background: url("../images/ico/arrow_l_b.svg") no-repeat center center; }
