.scList { font-size: 0; }

.scList_link { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.scList_item .sc_thumb_box { width: 120px; -ms-flex-negative: 0; flex-shrink: 0; }

.scList_item .txt_box { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; min-width: 0; padding-left: 20px; }

.scList_item .txt_box .tit { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 16px; letter-spacing: -0.16px; line-height: 1.5; }

.scList_item .txt_box .tit .sc_tag { -ms-flex-negative: 0; flex-shrink: 0; }

.scList_item .txt_box .tit .sc_tag { -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; margin-right: 4px; }

.scList_item .txt_box .sc_writer { margin-top: 4px; }

.scList_item .txt_box .info_txt { width: 100%; margin-top: 12px; font-size: 13px; line-height: 20px; letter-spacing: -0.13px; color: #666; height: 40px; }

.scList_item .txt_box .sc_counter { margin-top: 2px; }

.scList_item .sc_counter.ty1 { display: none; }

.scList.ty_responsive .scList_item { display: inline-block; vertical-align: top; width: calc(100%/3); }

.scList.col2 .scList_item { display: inline-block; vertical-align: top; width: calc(100%/2); }

.scList.col3 .scList_item { display: inline-block; vertical-align: top; width: calc(100%/3); }

.scList.col4 .scList_item { display: inline-block; vertical-align: top; width: calc(100%/4); }

.scList.col5 .scList_item { display: inline-block; vertical-align: top; width: calc(100%/5); }

@media (max-width: 1023px) { .scList.ty_responsive .scList_item { width: calc(100%/2); } }

@media (max-width: 767px) { .scList.ty_responsive .scList_link { display: block; }
  .scList.ty_responsive .scList_item { width: calc(100%); }
  .scList.ty_responsive .txt_box { padding-left: 0; }
  .scList.ty_responsive .txt_box .tit { font-size: 13px; line-height: 1.31; font-weight: normal; }
  .scList.ty_responsive .txt_box .sc_writer { display: none; }
  .scList.ty_responsive .txt_box .info_txt { display: none; }
  .scList.ty_responsive .sc_counter.ty1 { display: block; }
  .scList.ty_responsive .sc_counter.ty2 { display: none; } }
