.sc_list_item .btn_view { display: -webkit-box; display: -ms-flexbox; display: flex; }

.ty_list1 .sc_list_item .btn_view .thumb_box { width: 60px; height: 60px; -ms-flex-negative: 0; flex-shrink: 0; }
