.sc_list_item + .sc_list_item { margin-top: 20px; }

.sc_list_item .btn_view { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.sc_list_item .btn_view .thumb_box { background-color: rgba(94, 37, 199, 0.07); position: relative; }

.sc_list_item .btn_view .thumb_box .thumb_img { width: 100%; height: 100%; border-radius: 8px; overflow: hidden; }

.sc_list_item .btn_view .thumb_box .thumb_img img { -o-object-fit: cover; object-fit: cover; width: 100%; height: 100%; }

.sc_list_item .btn_view .thumb_box .tags { position: absolute; left: 0; top: -4px; font-size: 0; }

.sc_list_item .btn_view .thumb_box .tags .tag_item { font-size: 10px; line-height: 14px; padding: 0 5px; color: #fff; border-radius: 14px; display: inline-block; vertical-align: top; }

.sc_list_item .btn_view .thumb_box .tags .tag_item span { display: block; -webkit-transform: scale(0.8); transform: scale(0.8); -webkit-transform-origin: center center; transform-origin: center center; }

.sc_list_item .btn_view .thumb_box .tags .tag_item + .tag_item { margin-left: 4px; }

.sc_list_item .btn_view .thumb_box .tags .tag_item.ty_new { background-color: #00bee5; }

.sc_list_item .btn_view .thumb_box .tags .tag_item.ty_pay { background-color: #ff8000; padding: 0; text-align: center; width: 14px; }

.ty_list1 .sc_list_item .btn_view .thumb_box { width: 60px; height: 60px; -ms-flex-negative: 0; flex-shrink: 0; }

.sc_list_item .btn_view .txt_box { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; min-width: 0; padding-left: 10px; }

.sc_list_item .btn_view .txt_box .tit { font-size: 13px; line-height: 1.31; letter-spacing: -0.13px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.sc_list_item .btn_view .txt_box .info_box { margin-top: 8px; font-size: 0; }

.sc_list_item .btn_view .txt_box .info_box .info_box_item { display: inline-block; vertical-align: top; }

.sc_list_item .btn_view .txt_box .info_box .date { font-size: 10px; line-height: 12px; }

.sc_list_item .btn_view .txt_box .info_box .view_box { font-size: 0; margin-left: 20px; }

.sc_list_item .btn_view .txt_box .info_box .view_box_item { font-size: 10px; line-height: 12px; padding-left: 12px; position: relative; background-repeat: no-repeat; background-position: 0 60%; }

.sc_list_item .btn_view .txt_box .info_box .view_box_item + .view_box_item { margin-left: 12px; }

.sc_list_item .btn_view .txt_box .info_box .view_box_item.view { background-image: url(../images/sc_list/ico_view.svg); }

.sc_list_item .btn_view .txt_box .info_box .view_box_item.comment { background-image: url(../images/sc_list/ico_comment.svg); }

.sc_list2 { font-size: 0; }

.sc_list2_link { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.sc_list2_item .sc_thumb_box { width: 120px; -ms-flex-negative: 0; flex-shrink: 0; }

.sc_list2_item .txt_box { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; min-width: 0; padding-left: 20px; }

.sc_list2_item .txt_box .tit { font-size: 16px; letter-spacing: -0.16px; line-height: 1.5; }

.sc_list2_item .txt_box .sc_writer { margin-top: 4px; }

.sc_list2_item .txt_box .info_txt { margin-top: 12px; font-size: 13px; line-height: 20px; letter-spacing: -0.13px; color: #666; height: 40px; }

.sc_list2_item .txt_box .sc_counter { margin-top: 2px; }

.sc_list2.ty_best { margin: 0 -20px; margin-top: -37px; }

.sc_list2.ty_best .sc_list2_item { display: inline-block; -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: top; width: calc(100%/3); padding: 0 20px; margin-top: 37px; }

.sc_list2.col2 .sc_list2_item { display: inline-block; vertical-align: top; width: calc(100%/2); }

.sc_list2.col3 .sc_list2_item { display: inline-block; vertical-align: top; width: calc(100%/3); }

.sc_list2.col4 .sc_list2_item { display: inline-block; vertical-align: top; width: calc(100%/4); }

.sc_list2.col5 .sc_list2_item { display: inline-block; vertical-align: top; width: calc(100%/5); }

.sc_gal { font-size: 0; }

.sc_gal.col2 .sc_gal_item { width: calc(100%/2); }

.sc_gal.col3 .sc_gal_item { width: calc(100%/3); }

.sc_gal.col4 .sc_gal_item { width: calc(100%/4); }

.sc_gal.col5 .sc_gal_item { width: calc(100%/5); }

.sc_gal_item { display: inline-block; vertical-align: top; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sc_gal.ty_small { margin: 0 -5px; }

.sc_gal.ty_small .sc_gal_item { padding: 0 5px; }

.sc_gal.ty_small .sc_gal_item .tit_box { margin-top: 5px; font-size: 13px; line-height: 1.31; letter-spacing: -0.13px; }

.sc_gal.ty_mid .sc_gal_item .tit_box { margin-top: 5px; font-size: 16px; line-height: 1.5; letter-spacing: -0.16px; }

.sc_gal.ty_best { white-space: nowrap; overflow-x: auto; }

.sc_gal.ty_best .sc_gal_item + .sc_gal_item { margin-left: 36px; }

.sc_gal.ty_best .sc_gal_item_link { display: block; width: 150px; }

@media (max-width: 1024px) { .sc_list2.ty_best .sc_list2_item { width: calc(100%/2); } }

@media (max-width: 767px) { .sc_list_wrap.scroll_x { padding-top: 7px; margin-top: -7px; overflow-x: auto; }
  .sc_list2 .sc_list2_item .sc_thumb_box { width: 100px; }
  .sc_list2.ty_best { width: 200vw; }
  .sc_list2.ty_best .sc_list2_item { width: calc(100%/3); }
  .sc_list2.ty_best .sc_writer { display: none; } }
