@import url(../css/font.css);


#wrap {
    min-width: 1240px;
}
.header {
    background-color: #fff;
    padding-bottom: 10px;
    position: absolute;
    z-index: 9999;
    width: 100%;
    left: 0;
    top: 0;
    &_top {
        padding: 0 40px;
        .logo {

            width: 120px;
            height: 79px;
            background-image: url(../images/LOGO.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        &_inner {
            height: 120px;
            position: relative;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            max-width: 1140px;
            margin: 0 auto;
        }
    }
    &_util {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        .btn_mypage {
            display: block;
            width: 50px;
            height: 50px;
            background: url(../images/ico_mem.svg) no-repeat center center;

        }
        .btn_lm {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            position: relative;
            .bar_box {
                width: 32px;
                height: 20px;
                position: relative;
                .bar {
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    left: 0%;
                    &.top {
                        top: 0;
                    }
                    &.mid {
                        top: 9px;
                    }
                    &.bot {
                        width: 60%;
                        top: 18px;
                    }

                }
            }

        }
    }
    .nav_area {
        position: relative;
        height: 50px;
        .nav {
            position: absolute;
            width: 100%;
            text-align: center;
            &_list {
                li {
                    display: inline-block;
                    vertical-align: top;
                    a {
                        display: block;
                        font-size: 20px;
                        font-weight: bold;
                        line-height: 50px;
                        color: #212121;
                        padding: 0 20px;
                    }
                }
            }
        }
    }
}

.inner {

    max-width: 1160px;
    margin: 0 auto;
}


.sub_inner {
    position: relative;
    max-width: 740px;
    margin: 0 auto;
}



.footer {
    background-color: #f5f5f5;
    padding: 20px 16px;
    text-align: center;
    &_menu {
        font-size: 0;
        margin-bottom: 12px;
        li {
            display: inline-block;
            vertical-align: top;
            padding: 0 10px;
            position: relative;
            &::after {
                content:'';
                position: absolute;
                width: 1px;
                height: 10px;
                background-color: #ccc;
                right: 0;
                top: 50%;
                margin-top: -5px;
            }
            &:last-child::after {
                display: none;
            }
        }
        a {
            display: block;
            font-size: 11px;
            line-height: 1.82;
            letter-spacing: -0.55px;
        }
    }
    .footer_policy {
        box-sizing: border-box;
        max-width: 500px;
        margin: 0 auto;
        background-color: #fff;
        text-align: left;
        border: 1px solid rgba(0, 0, 0, 0.1);
        &_tit {
            button {
                display: block;
                width: 100%;
                line-height: 30px;
                padding: 0 12px;
                position: relative;
                font-size: 12px;
                font-weight: bold;
                text-align: left;

                i {
                    position: absolute;
                    width: 12px;
                    height: 7px;
                    background-image: url(../images/ico/ico_open.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    right: 12px;
                    top: 50%;
                    margin-top: -3.5px;
                }
            }
        }


        @at-root .footer_policy.on & {
            transform: rotate(180deg);
        }

        .txt_box {
            display: none;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding: 9px 11px;
            font-size: 10px;
            color: #666;
            line-height: 1.6;
            letter-spacing: -0.3px;
        }
    }
    .copy {
        font-size: 11px;
        line-height: 13px;
        font-weight: 500;
        margin-top: 12px;
    }

}


.container_ty1 {
    padding-top: 60px;
    background-color: #fff;
}


/* btns */
.btn {
    &_area {
        &.ty_bot {
            margin-top: 30px;
        }
        &.taC {
            text-align: center;
        }
        &.taR {
            text-align: right;
        }
    }
    &_small {
        display: inline-block;
        vertical-align: top;
        height: 24px;
        line-height: 22px;
        padding: 0 5px;
        border-radius: 6px;
        font-size: 12px;
        font-weight: 400;
        border-style: solid;
        border-width: 1px;
        &.white {
            color: #fff;
            border-color: #fff;
        }
        &.grey {
            padding: 0 10px;
            color: #424242;
            background-color: #f5f5f5;
            border-color: rgba(0, 0, 0, 0.07);
        }
    }
    &_save {
        display: inline-block;
        vertical-align: top;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../images/ico/ico_save.svg);
        &.white {
            background-image: url(../images/ico/ico_save_w.svg);
        }
    }

    &_write {
        display: inline-block;
        vertical-align: top;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../images/ico/ico_write.svg);
        &.white {
            background-image: url(../images/ico/ico_write_w.svg);
        }
    }
    &_back {
        width: 40px;
        height: 40px;
        background: url(../images/ico/arrow_r.svg) no-repeat center center;
        &.black {
            background-image: url(../images/ico/arrow_l_b.svg);
        }
    }
    &_mid {
        height: 36px;
        line-height: 34px;
        box-sizing: border-box;
        border-radius: 6px;
        border: 1px solid #5e25c7;
        background-color: #5e25c7;
        text-align: center;
        padding: 0 15px;
        min-width: 120px;
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        &.white {
            color: #5e25c7;
            background-color: #fff;
        }
    }
}


.layer_popup {
    display: none;
    position: fixed;

    z-index: 9999;
    &.on {
        display: block;
    }

    &.ty_full {
        width: 100%;
        height: 100%;
        background-color: #fff;
        max-width: 740px;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        .layer_popup_tit {
            height: 40px;
            padding: 0 40px;
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            box-sizing: border-box;
            background-color: #fff;
            z-index: 9999;
            .btn_back {
                position: absolute;
                left: 0;
                top: 0;
            }
            .tit {
                text-align: center;
                line-height: 40px;
                font-size: 16px;
            }
        }
        .layer_popup_inner {
            height: 100%;
            padding: 40px 0 52px;
            box-sizing: border-box;
            overflow-y: auto;
        }
        .layer_popup_bottom {
            position: absolute;
            background-color: #fff;
            z-index: 9999;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.07);
        }
        .layer_popup_cont {
            padding-bottom: 10px;
        }
    }
    &.popup_cha_img_select {
        z-index: 99999;
    }
    &.ty_cha {

        width: 100%;
        height: 100%;

        background-color: rgba(#000, .4);
        left: 0;
        top: 0;
        .layer_popup_inner {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        .popup_cha_cont {
            position: relative;
            padding: 20px;
            width: 260px;
            border-radius: 20px 0 20px 20px;
            box-sizing: border-box;
            background-color: #fff;
            text-align: center;
            .btn_close {
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                right: 0;
                top: -20px;
                background:#fff url(../images/ico/ico_close.svg) no-repeat center center;
            }
            .thumb_box {
                display: block;
                position: relative;
                width: 60px;
                height: 60px;
                margin: 0 auto;
                .img_box {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    overflow: hidden;
                    background:#e5e5e5 url(../images/ico/ico_empty_p.svg) no-repeat center center;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &::after {
                    content:'';
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: #fff url('../images/ico/ico_camera.svg') no-repeat center center;
                }
            }
            .cha_name {
                display: block;
                width: 160px;
                margin: 0 auto;
                margin-top: 10px;

                height: 30px;
                font-size: 14px;
                border: none;
                outline: none;
                text-align: center;
                border-bottom: 1px solid #e5e5e5;
            }
            .btn_area {
                margin-top: 20px;
                &.ty_edit {
                    display: none;
                }
            }



            .btn_mid {
                min-width: 80px;
                width: 80px;
            }
        }
        &.editing .popup_cha_cont {
            .btn_area {
                &.ty_add {
                    display: none;
                }
                &.ty_edit {
                    display: block;
                }
            }
        }

    }

}
.tab_set {
    .tab_btns {
        display: flex;
        .tab_btn {
            flex: 1;
            height: 40px;
            line-height: 39px;
            text-align: center;
            color: #212121;
            border-bottom: 2px solid #f5f5f5;
            &.on {
                border-color: #5e25c7;
                color: #5e25c7;
                font-weight: 500;
            }
        }
    }
    .tab_cont {
        display: none;
        &.on {
            display: block;
        }
        &_inner {
            padding: 20px;
        }
    }
}

.file_box {
    position: relative;
    &_txt {
        height: 40px;
        width: 100%;
        padding: 0 40px 0 10px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        outline: none;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #424242;
        &::placeholder {
            color: #424242;
        }
    }
    .input_file {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        opacity: 0;
        z-index: -1;
    }
    .btn_search {
       position: absolute;
       width: 100%;
       height: 100%;
       left: 0;
       top: 0;
       &::after {
           content:'';
           position: absolute;
           width: 40px;
           height: 40px;
           background: url(../images/ico/Ico_search.svg) no-repeat center center;
           right: 0;
           top: 0;
       }
    }
}

.caution_list {
    &.ty_bot {
        margin-top: 10px;
    }
    li {
        position: relative;
        padding-left: 12px;
        font-size: 11px;
        line-height: 1.45;
        color: #999;
        & + li {
            margin-top: 8px;
        }
        &::before {
            content:'※';
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}


.popup_img {
    &_list {
        font-size: 0;
        padding: 4px;
    }
    &_item {
        display: inline-block;
        vertical-align: top;
        padding: 4px;
        box-sizing: border-box;
        width: 25%;
    }
    &_link {
        display: block;
        position: relative;
        padding-top: 100%;
        .img_box {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                opacity: 0.7;
            }
        }
        &.on {
            &::after {
                content:'';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                //background-color: rgba(94, 37, 199, 0.2);
                z-index: 10;
                border: 3px solid #f00;
                box-sizing: border-box;
            }
            .img_box img {
                opacity: 1;
            }
        }
    }

}



.sub_header {

    position: absolute;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    &.ty_list {
        display: flex;
        justify-content: space-between;
    }


    .setting_set {
        position: absolute;
        right: 0;
        top: 0;


        .btn_setting {
            width: 40px;
            height: 40px;
            background: url(../images/ico/ico_setting.svg) no-repeat center center;
        }
        .setting_box {
            display: none;
            position: absolute;
            right: 6px;
            top: 100%;
            border-radius: 6px;
            background-color: #fff;
            &.on {
                display: block;
            }
            &::before {
                content: '';
                position: absolute;
                bottom: 100%;
                right: 8px;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid #fff;
                border-top: none;
            }

            li + li {
                border-top: 1px solid #f5f5f5;
            }
            a {
                display: block;
                padding: 0 17px;
                white-space: nowrap;
                text-align: center;
                line-height: 36px;
                font-size: 13px;
                font-weight: 500;
                color: #343434;
            }
        }
    }

    .util {
        display: flex;
        .btn {
            display: inline-block;
            vertical-align: top;
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-position: center center;
            &_like {
                background-image: url(../images/ico/btn_heart.svg);
            }
            &_subscribe {
                background-image: url(../images/ico/btn_star.svg);
            }
        }
    }
    &.ty_view {
        position: fixed;
        max-width: 740px;
        left: 50%;
        transform: translateX(-50%);
        box-sizing: border-box;
        padding: 0 40px;
        height: 40px;
        text-align: center;
        background-color: rgba(0,0,0,.5);
        .tit_area {
            font-size: 16px;
            line-height: 40px;
            color: #fff;
            display: flex;
            justify-content: center;
            .tit {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 16px;
                font-weight: normal;
            }
            .count_box {
                display: inline-block;
                padding-left: 10px;
                white-space: nowrap;
                flex-shrink: 0;
            }
        }
        .btn_back {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    &.ty_write {
        position: fixed;
        max-width: 740px;
        left: 50%;
        transform: translateX(-50%);
        box-sizing: border-box;
        padding: 0 40px;
        height: 40px;
        text-align: center;
        background-color: rgba(0,0,0,.5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn_back {
            position: absolute;
            left: 0;
            top: 0;
        }
        .btn_save {
            position: absolute;
            right: 0;
            top: 0;
        }

        .write_tit {
            padding-left: 24px;
            position: relative;
            flex: 1;

            box-sizing: border-box;
            min-width: 0;
            &_input {
                background-color: transparent;
                height: 24px;
                line-height: 24px;
                box-sizing: border-box;
                border: none !important;
                outline: none;
                width: 100%;
                border: none;
                font-size: 14px;
                text-overflow: ellipsis;
                color: #fff;

                &::placeholder {
                    color: #fff;
                }
            }
            .btn_write {
                width: 24px;
                height: 24px;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        .btn_set {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            padding-left: 15px;
            .btn_small + .btn_small {
                margin-left: 5px;
            }
        }
    }

    &.ty_w {
        position: fixed;
        max-width: 740px;
        left: 50%;
        transform: translateX(-50%);
        box-sizing: border-box;
        padding: 0 40px;
        height: 40px;
        text-align: center;
        background-color: #fff;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
        .tit {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 16px;
            line-height: 40px;
            font-weight: normal;
        }
        .btn_back {
            position: absolute;
            left: 0;
            top: 0;
            background: url('../images/ico/arrow_l_b.svg') no-repeat center center;
        }
    }


}

.sc_thumb {
    padding-top: 100%;
    position: relative;

    &_img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 8px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .2s ease-in-out;
        }
        &:hover img {
            transform: scale(1.05);
        }
    }
    .sc_tag_box {
        position: absolute;
        left: 0;
        top: -7px;
        z-index: 10;
    }
}

.sc_tag {
    display: inline-block;
    vertical-align: top;
    &_box {
        font-size: 0;
        .sc_tag + .sc_tag {
            margin-left: 4px;
        }
    }
    &.finish {
        width: 25px;
        height: 14px;
        line-height: 14px;
        background-color: #5e25c7;
        font-size: 10px;
        color: #fff;
        text-align: center;
        border-radius: 3px;
    }
    &.up {
        width: 20px;
        height: 14px;
        line-height: 13px;
        background-color: #00bee5;
        font-size: 10px;
        color: #fff;
        text-align: center;
        border-radius: 7px;
        span {
            display: block;
            transform: scale(0.8);
            transform-origin: center center;
        }
    }
    &.pay {
        width: 14px;
        height: 14px;
        line-height: 14px;
        background-color: #ff8000;
        font-size: 10px;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        span {
            display: block;
            transform: scale(0.8);
            transform-origin: center center;
        }
    }
    &.re {
        width: 20px;
        height: 14px;
        line-height: 10px;
        font-size: 10px;
        color: #424242;
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        text-align: center;
        border-radius: 7px;
        background-color: #fff;
        span {
            display: block;
            transform: scale(0.9);
            transform-origin: center center;
        }

    }
}


.sc_counter {
    $this : &;
    &.ty1 {
        padding: 0 10px 0 5px;
        position: absolute;
        left: 0;
        bottom: 0;
        margin-left: -4px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 0 8px 8px 0;

        #{$this}_item {
            display: inline-block;
            vertical-align: top;
            padding-left: 12px;
            position: relative;
            font-size: 11px;
            line-height: 17px;
            background-repeat: no-repeat;
            background-position: 0 center;
            color: #fff;
            margin-left: 4px;
        }
        #{$this}_view {
            background-image: url(../images/ico/sc_ico_view.svg);
        }
        #{$this}_like {
            background-image: url(../images/ico/sc_ico_like.svg);
        }
    }
    &.ty2 {
        margin-left: -10px;
        #{$this}_item {
            display: inline-block;
            vertical-align: top;
            padding-left: 16px;
            position: relative;
            font-size: 12px;
            line-height: 18px;
            background-repeat: no-repeat;
            background-position: 0 center;
            color: #666;
            margin-left: 10px;
        }
        #{$this}_view {
            background-image: url(../images/ico/sc_ico_view_c.svg);
        }
        #{$this}_like {
            padding-left: 13px;
            background-image: url(../images/ico/sc_ico_like_c.svg);
        }
    }
}


.sc_writer {
    display: flex;
    align-items: center;
    &_thumb {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &_name {
        padding-left: 4px;
        min-width: 0;
        font-size: 12px;
        line-height: 1.42;
        letter-spacing: -0.12px;
        color: #424242;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

@media (max-width:1024px) {
    #wrap {
        min-width: auto;
    }
    .inner {
        padding: 0 30px;
    }
}

@media (max-width:767px) {
    .inner {
        padding: 0 20px;
    }
}