.notice {
    &_top {
        .total {
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            line-height: 17px;
        }
        margin-bottom: 10px;
    }
    &_list {
        border-top: 1px solid #e5e5e5;
        li {
            border-bottom: 1px solid #e5e5e5;
        }
        &_link {
            display: flex;
            align-items: center;
            padding: 10px 0;
        }
        .tit {
            display: flex;
            font-size: 14px;
            line-height: 17px;
            color: #212121;
            min-width: 0;
            flex: 1;
            &_txt {
                display: inline-block;
                min-width: 0;
            }
            .comments {
                display: inline-block;
                color: #5e25c7;
                font-size: 12px;
            }
        }
        .date {
            font-size: 10px;
            line-height: 12px;
            color: #777;
            padding-left: 15px;
        }
    }

    &_view {
        &_top {
            padding-bottom: 10px;
            .tit {
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
            }
            .info {
                margin-top: 13px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .date {
                    font-size: 11px;
                    line-height: 1.27;
                    color: #777;
                }
            }
        }
        &_cont {
            padding: 20px 0;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #e5e5e5;
            font-size: 12px;
            line-height: 1.67;
            color: #424242;
            * {
                max-width: 100%;
            }
        }
        &_nav {
            &_item {
                display: flex;
                font-size: 12px;
                line-height: 40px;
                color: #424242;
                .direction {
                    font-weight: bold;
                    flex-shrink: 0;
                    padding-right: 10px;
                }
                .tit {
                    flex: 1;
                    min-width: 0;
                }
                & + .notice_view_nav_item {
                    border-top: 1px solid #f5f5f5;
                }
            }
        }
    }

    &_write {
        .input_tit {
            margin-bottom: 10px;
        }
        .comment_availability {
            font-size: 0;
            .sc_radio {
                vertical-align: top;
                & + .sc_radio {
                    margin-left: 10px;
                }
            }
        }
        &_sec {
            &_tit {
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 13px;
                display: block;
            }
            & + .notice_write_sec {
                margin-top: 20px;
            }
        }
    }
}

