html, body {
    height: 100%;
}
#wrap, #container, .sub_inner {
    height: 100%;
}



.nov_view {
    height: 100%;
    background-color: #fafafa;
}

.step {
    display: none;
    position: relative;
    z-index: 99;
}
.step.on {
    display: block;
}


.view_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: #212121;
    z-index: 9999;
    .progress_box {
        background-color: #666;
        position: relative;
        padding: 0 8px;
        &::before {
            content:'';
            position: absolute;
            width: 8px;
            height: 4px;
            background-color: #7700ff;
            left: 0;
            top: 0;
            z-index: 10;
        }
    }
    #progress {
        height: 4px;
        border-radius: 0;
        border: none;
        background-color: #666;

        .ui-slider-handle {
            width: 16px;
            height: 16px;
            border: none;
            border-radius: 100%;
            background-color: #7700ff;
            margin-left: -8px;
            top: 50%;
            margin-top: -8px;

        }
        .ui-widget-header {
            border-radius: 0;
            background-color: #7700ff;
        }
    }
    .view_ctrl {
        display: flex;
        height: 40px;
        align-items: center;
        position: relative;
        .ctrl_txt {
            display: flex;
            height: 100%;
            padding: 0 7px;
            align-items: center;
            color: #fff;

            &_tit {
                line-height: 26px;
                font-size: 12px;
                margin-right: 5px;
            }
            .btns {
                font-size: 0;
            }
            .btn_sizing {
                line-height: 0;
                display: inline-block;
                width: 34px;
                height: 26px;
                border: 1px solid #777;
                vertical-align: top;
                box-sizing: border-box;
                position: relative;
                &.btn_up {
                    border-radius: 13px 0 0 13px;
                    &::before {
                        content:'';
                        position: absolute;
                        width: 12px;
                        height: 2px;
                        background-color: #fff;
                        left: 50%;
                        top: 50%;
                        margin-left: -6px;
                        margin-top: -1px;
                    }
                }
                &.btn_down {
                    border-radius: 0 13px 13px 0;
                    border-left: none;
                    &::before {
                        content:'';
                        position: absolute;
                        width: 12px;
                        height: 2px;
                        background-color: #fff;
                        left: 50%;
                        top: 50%;
                        margin-left: -6px;
                        margin-top: -1px;
                    }
                    &::after {
                        content:'';
                        position: absolute;
                        width: 2px;
                        height: 12px;
                        background-color: #fff;
                        left: 50%;
                        top: 50%;
                        margin-top: -6px;
                        margin-left: -1px;
                    }
                }
            }
        }
        .ctrl_speed {
            font-size: 0;
            label {
                display: inline-block;
                vertical-align: top;
                position: relative;
                text-align: center;
                input[type='radio'] {
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -1;
                    opacity: 0;
                    &:checked ~ .ctrl_speed_btn {
                        color: rgba(255,255,255,1);
                    }
                }
                &:first-child {
                    .ctrl_speed_btn {
                        border-radius: 3px 0 0 3px;
                    }
                }
                &:last-child {
                    .ctrl_speed_btn {
                        border-radius: 0 3px 3px 0;
                    }
                }
                & + label {
                    .ctrl_speed_btn {
                        border-left: none;
                    }

                }
            }
            &_btn {
                display: inline-block;
                vertical-align: top;
                width: 30px;
                height: 20px;
                line-height: 18px;
                box-sizing: border-box;
                border: 1px solid #777;
                font-size: 10px;
                color: rgba(255,255,255,.6);

                letter-spacing: -0.4px;
                font-weight: normal;
                &.on {
                    color: rgba(255,255,255,1);
                }

            }
        }
        .ctrl_btns {

        }
    }

}


.chapter_box {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    padding: 60px 10px 80px;
    box-sizing: border-box;
    overflow-y: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: background-image .6s ease-in-out,  background-color .6s ease-in-out,  color .2s ease-in-out;
    &.on {
        visibility: visible;
    }

    &::-webkit-scrollbar {
        width: 6px;
        position: relative;
        z-index: 9999;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(255,255,255,.8);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(255,255,255,.3);
        border-radius: 10px;
    }
}




.chapter_box_inner {
    overflow: hidden;
    position: relative;
}


.step {
    .cont_area {
        display: inline-block;
    }
    &.txt {
        text-align: center;
        padding: 5px 0;
        .cont_area {
            background-color: rgba(0,0,0,.3);
            border-radius: 15px;
            font-size: 12px;
            line-height: 1.4em;
            padding: 6px 8px;
            color: #fff;
        }
    }
    &.ty_talk {
        margin-top: 30px;
        &.subordination {
            margin-top: 0;
            .script_box {
                padding-top: 5px;
                padding-bottom: 5px;
                .thumb {
                    visibility: hidden;
                }
                .name {
                    display: none;
                }
            }
            .right, .left {
                .cont_area::before {
                    display: none;
                }
            }
        }
        .cont_area {
            background-color: #fff;
            border-radius: 4px;
            font-size: 12px;
            line-height: 1.4em;
            padding: 6px 8px;
            color: #424242;
            position: relative;

        }
        .right {
            .cont_area {
                &::before {
                    content: '';
                    position: absolute;
                    left: 100%;
                    top: 8px;
                    width: 0;
                    height: 0;
                    border-left: 7px solid #fff;
                    border-top: 4px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-right: none;
                }
            }
        }
        .left {
            .cont_area {
                &::before {
                    content: '';
                    position: absolute;
                    right: 100%;
                    top: 8px;
                    width: 0;
                    height: 0;
                    border-right: 7px solid #fff;
                    border-top: 4px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-left: none;
                }
            }
        }
    }

    &.ty_end_btns {
        padding: 100px 0;
        text-align: center;
        .btn {
            display: block;
            text-align: center;
            margin: 0 auto;
            width: 180px;
            height: 40px;
            line-height: 40px;
            border-radius: 20px;
            font-size: 16px;
            background-color: #fff;
            color: #424242;
            font-weight: 500;
            box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
            & + .btn {
                margin-top: 20px;
            }
        }
    }
}

.view_dim {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.1);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.touch_layer {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    z-index: 99;
}

.script_box {
    $this : &;
    position: relative;
    padding: 5px 0;
    &.left {
        padding-right: 50px;
        padding-left: 50px;
        justify-content: flex-start;
        text-align: left;
        .thumb {
            left: 0;
        }
    }
    &.right {
        padding-left: 50px;
        padding-right: 50px;
        flex-direction: row-reverse;
        text-align: right;
        .thumb {
            right: 0;
        }
    }

    .thumb {
        width: 40px;
        height: 40px;
        border-radius: 100%;

        box-sizing: border-box;
        background-color: #dcdcdc;
        flex-shrink: 0;
        position: absolute;
        top: 5px;
    }
    .txt_box {
        min-width: 0;
        flex: 1;
        .name {
            display: block;
            text-align: left;
            font-size: 13px;
            margin-bottom: 4px;
            line-height: 1.2em;
            @at-root #{$this}.right .name {
                text-align: right;
            }
        }
        .script {
            text-align: left;
        }
        .cont_area {
            text-align: left;
            display: inline-block;
            vertical-align: top;
        }
    }

}





