.sc_list {
    &_item {
        & + & {
            margin-top: 20px;
        }
        .btn_view {
            display: flex;
            align-items: center;
            .thumb_box {

                background-color: rgba(94, 37, 199, 0.07);
                position: relative;
                .thumb_img {
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                    overflow: hidden;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .tags {
                    position: absolute;
                    left: 0;
                    top: -4px;
                    font-size: 0;
                    .tag_item {
                        font-size: 10px;
                        line-height: 14px;
                        padding: 0 5px;
                        color: #fff;
                        border-radius: 14px;
                        display: inline-block;
                        vertical-align: top;
                        span {
                            display: block;
                            transform: scale(0.8);
                            transform-origin: center center;
                        }
                        & + .tag_item {
                            margin-left: 4px;
                        }
                        &.ty_new {
                            background-color: #00bee5;
                        }
                        &.ty_pay {
                            background-color: #ff8000;
                            padding: 0;
                            text-align: center;
                            width: 14px;
                        }
                    }
                }

                @at-root .ty_list1 & {
                    width: 60px;
                    height: 60px;
                    flex-shrink: 0;
                }
            }
            .txt_box {
                flex: 1;
                min-width: 0;
                padding-left: 10px;
                .tit {
                    font-size: 13px;
                    line-height: 1.31;
                    letter-spacing: -0.13px;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                }
                .info_box {
                    margin-top: 8px;
                    font-size: 0;
                    .info_box_item {
                        display: inline-block;
                        vertical-align: top;
                    }
                    .date {
                        font-size: 10px;
                        line-height: 12px;
                    }
                    .view_box {
                        font-size: 0;
                        margin-left: 20px;
                        &_item {
                            & + .view_box_item {
                                margin-left: 12px;
                            }
                            font-size: 10px;
                            line-height: 12px;
                            padding-left: 12px;
                            position: relative;
                            background-repeat: no-repeat;
                            background-position: 0 60%;
                            &.view {
                                background-image: url(../images/sc_list/ico_view.svg);
                            }
                            &.comment {
                                background-image: url(../images/sc_list/ico_comment.svg);
                            }
                        }
                    }
                }
            }
        }
    }
}



.sc_list2 {
    font-size: 0;
    &_link {
        display: flex;
        align-items: center;
    }
    &_item {
        .sc_thumb_box {
            width: 120px;
            flex-shrink: 0;
        }
        .txt_box {
            flex: 1;
            min-width: 0;
            padding-left: 20px;
            .tit {
                font-size: 16px;
                letter-spacing: -0.16px;
                line-height: 1.5;
            }
            .sc_writer {
                margin-top: 4px;
            }
            .info_txt {
                margin-top: 12px;
                font-size: 13px;
                line-height: 20px;
                letter-spacing: -0.13px;
                color: #666;
                height: 40px;
            }
            .sc_counter {
                margin-top: 2px;
            }

        }
    }

    &.ty_best {

        margin: 0 -20px;
        margin-top: -37px;
        .sc_list2_item {
            display: inline-block;
            box-sizing: border-box;
            vertical-align: top;
            width: calc(100%/3);
            padding: 0 20px;
            margin-top: 37px;
        }
    }


    @for $i from 2 to 6 {
        &.col#{$i} &_item {
            display: inline-block;
            vertical-align: top;
            width: calc(100%/#{$i});
        }
    }

}



.sc_gal {
    font-size: 0;
    @for $i from 2 to 6 {
        &.col#{$i} .sc_gal_item {
            width: calc(100%/#{$i});
        }
    }
    &_item {
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
    }
    &.ty_small {
        margin: 0 -5px;
        .sc_gal_item {
            padding: 0 5px;
            .tit_box {
                margin-top: 5px;
                font-size: 13px;
                line-height: 1.31;
                letter-spacing: -0.13px;
            }
        }
    }
    &.ty_mid {
        .sc_gal_item {
            .tit_box {
                margin-top: 5px;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: -0.16px;
            }
        }
    }

    &.ty_best {
        .sc_gal_item + .sc_gal_item {
            margin-left: 36px;
        }
        white-space: nowrap;
        overflow-x: auto;
        .sc_gal_item_link {
            display: block;
            width: 150px;
        }
    }
}



@media (max-width: 1024px) {
    .sc_list2 {
        &.ty_best {
            .sc_list2_item {
                width: calc(100%/2);
            }
        }
    }

}


@media (max-width: 767px) {
    .sc_list_wrap {

        &.scroll_x {
            padding-top: 7px;
            margin-top: -7px;
            overflow-x: auto;
        }
    }
    .sc_list2 {
        .sc_list2_item {
            .sc_thumb_box {
                width: 100px;
            }
        }
        &.ty_best {
            width: 200vw;
            .sc_list2_item {
                width: calc(100%/3);
            }
            .sc_writer {
                display: none;
            }
        }
    }

}
