.sc_list {
    &_item {
        & + & {
            margin-top: 20px;
        }
        .btn_view {
            display: flex;
            align-items: center;
            .thumb_box {

                background-color: rgba(94, 37, 199, 0.07);
                position: relative;
                .thumb_img {
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                    overflow: hidden;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .tags {
                    position: absolute;
                    left: 0;
                    top: -4px;
                    font-size: 0;
                    .tag_item {
                        font-size: 10px;
                        line-height: 14px;
                        padding: 0 5px;
                        color: #fff;
                        border-radius: 14px;
                        display: inline-block;
                        vertical-align: top;
                        span {
                            display: block;
                            transform: scale(0.8);
                            transform-origin: center center;
                        }
                        & + .tag_item {
                            margin-left: 4px;
                        }
                        &.ty_new {
                            background-color: #00bee5;
                        }
                        &.ty_pay {
                            background-color: #ff8000;
                            padding: 0;
                            text-align: center;
                            width: 14px;
                        }
                    }
                }

                @at-root .ty_list1 & {
                    width: 60px;
                    height: 60px;
                    flex-shrink: 0;
                }
            }
            .txt_box {
                flex: 1;
                min-width: 0;
                padding-left: 10px;
                .tit {
                    font-size: 13px;
                    line-height: 1.31;
                    letter-spacing: -0.13px;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                }
                .info_box {
                    margin-top: 8px;
                    font-size: 0;
                    .info_box_item {
                        display: inline-block;
                        vertical-align: top;
                    }
                    .date {
                        font-size: 10px;
                        line-height: 12px;
                    }
                    .view_box {
                        font-size: 0;
                        margin-left: 20px;
                        &_item {
                            & + .view_box_item {
                                margin-left: 12px;
                            }
                            font-size: 10px;
                            line-height: 12px;
                            padding-left: 12px;
                            position: relative;
                            background-repeat: no-repeat;
                            background-position: 0 60%;
                            &.view {
                                background-image: url(../images/sc_list/ico_view.svg);
                            }
                            &.comment {
                                background-image: url(../images/sc_list/ico_comment.svg);
                            }
                        }
                    }
                }
            }
        }
    }
}

//반응형 리스트
.scList {
    font-size: 0;
    &_link {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &_item {
        box-sizing: border-box;
        .sc_thumb_box {
            width: 120px;
            flex-shrink: 0;
        }
        .txt_box {
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            min-width: 0;
            padding-left: 20px;
            .sc_tit {
                display: flex;
                width: 100%;
                align-items: center;
                .sc_tag {
                    flex-shrink: 0;
                    margin-right: 4px;
                }
                font-size: 16px;
                letter-spacing: -0.16px;
                line-height: 1.3;
            }
            .sc_writer {
                margin-top: 4px;
            }
            .info_txt {
                width: 100%;
                margin-top: 12px;
                font-size: 13px;
                line-height: 20px;
                letter-spacing: -0.13px;
                color: #666;
                height: 40px;
            }
            .sc_counter {
                margin-top: 2px;
            }
        }
        .sc_counter.ty1 {
            display: none;
        }
    }

    .sc_comment {
        margin-top: 20px;
        padding: 12px 20px;
        background-color: rgba(94, 37, 199, 0.07);
        border: solid 1px rgba(94, 37, 199, 0.2);
        border-radius: 8px;
        box-sizing: border-box;
        width: 100%;
        font-size: 13px;
        line-height: 1.38;
        letter-spacing: -0.13px;
        color: #424242;
        &_tit {
            display: block;
            font-size: 15px;
            line-height: 1.13;
            letter-spacing: -0.15px;
            color: #5e25c7;
            margin-bottom: 4px;
        }
    }
    &.ty_responsive {
        .scList_item {
            display: inline-block;
            vertical-align: top;
            width: calc(100%/2);
        }
        &.ty_sub {
            .scList_item {
                width: calc(100%/3);
            }
        }
    }
    &.ty_best {
        margin: 0 -15px;
        margin-top: -37px;
        .scList_item {
            display: inline-block;
            vertical-align: top;
            width: calc(100%/3);
            margin-top: 37px;
            padding: 0 15px;
        }
    }

    &.ty_best_sub {
        margin: 0 -15px;
        margin-top: -37px;
        .scList_item {
            display: inline-block;
            vertical-align: top;
            width: calc(100%/3);
            margin-top: 37px;
            padding: 0 15px;
        }
    }
    &.ty_best_sub2 {
        margin: 0 -15px;
        margin-top: -37px;
        .scList_item {
            display: inline-block;
            vertical-align: top;
            width: calc(100%/3);
            margin-top: 37px;
            padding: 0 15px;
        }
    }


    @for $i from 2 to 6 {
        &.col#{$i} &_item {
            display: inline-block;
            vertical-align: top;
            width: calc(100%/#{$i});
        }
    }
}
@media (max-width:1023px) {
    .scList {
        &.ty_responsive {
            .scList_item {
                width: calc(100%/2);
            }
            &.ty_sub {
                .scList_item {
                    width: calc(100%/2);
                }
            }
        }
        &.ty_best {
            .scList_item {
                width: calc(100%/2);
            }
        }
        &.ty_best_sub2 {
            .scList_item {
                width: calc(100%/2);
            }
        }

    }
}

@media (max-width:767px) {
    .scList {
        &_wrap {
            &.scroll_x {
                padding-top: 7px;
                overflow-x: auto;
                padding-bottom: 10px;
                .scList {
                    width: calc(100%*2.3);
                }
            }
        }

        .sc_comment {
            margin-top: 10px;
            font-size: 12px;
            padding: 12px 10px;margin-bottom: 15px;
        }

        &.ty_responsive {
            .scList_link {
                display: block;
            }
            .scList_item {
                width: calc(100%/3);
                .sc_thumb_box {
                    width: 100%;
                }
            }
            &.ty_sub {
                .scList_item {
                    width: calc(100%/3);
                }
            }
            .txt_box {
                padding-left: 0;
                padding-top: 5px;
                .sc_tit {
                    font-size: 13px;
                    line-height: 16px;
                }
                .sc_writer {
                    display: none;
                }
                .info_txt {
                    display: none;

                }
            }
            .sc_counter.ty1 {
                display: block;
            }
            .sc_counter.ty2 {
                display: none;
            }

            &.ty_best_sub {
                margin: 0 -5px;
                margin-top: -14px;
                .scList_item {
                    padding: 0 5px;
                    margin-top: 14px;
                }

            }
        }
        &.ty_best {
            margin: 0 -10px;
            margin-top: -20px;
            .scList_item {
                width: calc(100%/3);
                margin-top: 20px;
                padding: 0 10px;
                .sc_thumb_box {
                    width: 80px;
                }
                .txt_box {
                    padding-left: 10px;
                    .sc_tit {
                        font-size: 13px;
                        line-height: 16px;
                        .tit_txt {
                            font-weight: 500;
                        }

                    }
                    .sc_writer {
                        display: none;
                    }
                    .info_txt {
                        font-size: 12px;
                        line-height: 17px;
                        height: 34px;
                        margin-top: 4px;
                    }
                }
                .sc_counter.ty2 {
                    margin-top: 6px;
                }
            }
        }

        &.ty_best_sub2 {
            margin: 0;
            margin-top: 0;
            .scList_item {
                display: block;
                width: 100%;
                width: calc(100%);
                margin-top: 0;
                padding: 0;
                & + .scList_item {
                    margin-top: 10px;
                }
            }
            .sc_thumb_box {
                width: 80px;
            }
            .txt_box {
                padding-left: 10px;
                display: flex;
                    flex-wrap: wrap;
                .sc_tit {
                    font-size: 13px;
                    line-height: 16px;
                    .tit_txt {
                        font-weight: 500;
                    }
                }
                .sc_writer {
                   order: 1;
                   margin-top: 10px;
                   margin-right: 10px;
                   &_name {
                       max-width: 70px;
                       white-space: nowrap;
                       text-overflow: ellipsis;
                       overflow: hidden;
                       box-sizing: border-box;
                   }
                }
                .sc_counter {
                    order: 2;
                    margin-top: 10px;

                    &_item {
                        line-height: 18px;
                    }
                }
                .info_txt {
                    font-size: 12px;
                    line-height: 17px;
                    white-space: nowrap;
                    display: block;
                    height: auto;
                    margin-top: 4px;
                    -webkit-line-clamp: unset;
                    -webkit-box-orient: unset;

                }
            }
        }
    }
}
//반응형 리스트


.sc_list2 {
    font-size: 0;
    &_link {
        display: flex;
        align-items: center;
    }
    &_item {
        .sc_thumb_box {
            width: 120px;
            flex-shrink: 0;
        }
        .txt_box {
            flex: 1;
            min-width: 0;
            padding-left: 20px;
            .tit {
                font-size: 16px;
                letter-spacing: -0.16px;
                line-height: 1.5;
            }
            .sc_writer {
                margin-top: 4px;
            }
            .info_txt {
                margin-top: 12px;
                font-size: 13px;
                line-height: 20px;
                letter-spacing: -0.13px;
                color: #666;
                height: 40px;
            }
            .sc_counter {
                margin-top: 2px;
            }
        }
    }

    &.ty_best {
        margin: 0 -20px;
        margin-top: -37px;
        .sc_list2_item {
            display: inline-block;
            box-sizing: border-box;
            vertical-align: top;
            width: calc(100%/3);
            padding: 0 20px;
            margin-top: 37px;
        }
    }


    @for $i from 2 to 6 {
        &.col#{$i} &_item {
            display: inline-block;
            vertical-align: top;
            width: calc(100%/#{$i});
        }
    }
}



.sc_gal {
    font-size: 0;
    @for $i from 2 to 6 {
        &.col#{$i} .sc_gal_item {
            width: calc(100%/#{$i});
        }
    }
    &_item {
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
    }
    .txt_area {
        position: relative;
    }
    .sc_counter {
        left: 0;
        bottom: 100%;
        border-bottom-left-radius: 8px;
        margin-left: 0;
        padding-left: 1px;
    }
    .sc_tit {
        display: flex;
        align-items: center;
        h3 {
            font-weight: 500;
        }
        .sc_tag {
            flex-shrink: 0;
            margin-right: 4px;
        }
    }
    .sc_writer {
        margin-top: 4px;
    }
    &.ty_small {
        margin: 0 -5px;
        .sc_gal_item {
            padding: 0 5px;
            .txt_area {
                padding-top: 5px;
                .sc_tit {
                    font-size: 13px;
                    line-height: 1.31;
                    letter-spacing: -0.13px;
                }
            }
        }
    }
    &.ty_mid {
        .sc_gal_item {
            .txt_area {
                padding-top: 5px;
                .sc_tit {
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: -0.16px;
                }
            }
        }
    }

    &.ty_best {
        .sc_gal_item + .sc_gal_item {
            margin-left: 36px;
        }
        white-space: nowrap;
        overflow-x: auto;
        .sc_gal_item_link {
            display: block;
            width: 150px;
        }
    }
    &.ty_masonry {
        visibility: hidden;
        opacity: 0;
        position: relative;
        top: 40px;
        margin: 0 -10px;
        margin-top: -30px;
        transition: all .6s ease-in-out;
        &.on {
            visibility: visible;
            opacity: 1;
            top: 0;
        }
        .sc_gal_item {
            width: calc(100%/3);
            padding: 0 10px;
            box-sizing: border-box;
            margin-top: 30px;
        }
    }
}



@media (max-width: 1024px) {
    .sc_list2 {
        &.ty_best {
            .sc_list2_item {
                width: calc(100%/2);
            }
        }
    }
    .sc_gal {
        &.ty_best {
            .sc_gal_item + .sc_gal_item {
                margin-left: 20px;
            }
            white-space: nowrap;
            overflow-x: auto;
            padding-bottom: 10px;
            .sc_gal_item_link {
                display: block;
                width: 140px;
            }
        }
    }
}


@media (max-width: 767px) {
    .sc_list_wrap {
        &.scroll_x {
            padding-top: 7px;
            margin-top: -7px;
            overflow-x: auto;
            padding-bottom: 10px;
        }
    }
    .sc_list2 {
        .sc_list2_item {
            .sc_thumb_box {
                width: 100px;
            }
            .txt_box {
                padding-left: 10px;
                .tit {
                    font-size: 13px;
                }
                .info_txt {
                    font-size: 12px;
                    line-height: 18px;
                    height: 36px;
                    margin-top: 4px;
                }
                .sc_counter {
                    margin-top: 4px;
                }
            }
        }
        &.ty_best {
            width: 210vw;
            margin: 0 -10px;
            margin-top: -20px;
            .sc_list2_item {
                width: calc(100%/3);
                padding: 0 10px;
                margin-top: 20px;
            }
            .sc_writer {
                display: none;
            }
        }
    }

    .sc_gal {
        &.ty_small {
            margin: 0 -5px;
            .sc_gal_item {
                .txt_area {
                    .sc_tit {
                        font-size: 12px;
                        line-height: 1.5;
                        letter-spacing: -0.16px;
                    }
                }

            }

        }
        &.ty_mid {
            .sc_gal_item {
                .txt_area {
                    .sc_tit {
                        font-size: 13px;
                        line-height: 1.5;
                        letter-spacing: -0.16px;
                    }
                }

            }
        }
        .sc_gal_item {
            padding: 0;
            .txt_area {
                .sc_counter.ty1 {
                    position: static;
                    display: inline-block;
                    margin-left: -4px;
                    background-color: transparent;
                    .sc_counter_item {
                        display: inline-block;
                        vertical-align: top;
                        padding-left: 13px;
                        position: relative;
                        font-size: 10px;
                        line-height: 14px;
                        background-repeat: no-repeat;
                        background-position: 0 center;
                        color: #666;
                        margin-left: 4px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        box-sizing: border-box;

                    }
                    .sc_counter_view {
                        max-width: 36px;
                        background-image: url(../images/ico/sc_ico_view_c.svg);

                    }
                    .sc_counter_like {
                        max-width: 34px;
                        padding-left: 11px;
                        background-image: url(../images/ico/sc_ico_like_c.svg);

                    }

                    &.ty_inside {
                        position: absolute;
                        bottom: 100%;
                        margin-left: 0;
                        background-color: rgba(0, 0, 0, 0.3);
                        .sc_counter_item {
                            color: #fff;
                        }
                        .sc_counter_view {
                            max-width: 36px;
                            background-image: url(../images/ico/sc_ico_view.svg);

                        }
                        .sc_counter_like {
                            max-width: 34px;
                            padding-left: 11px;
                            background-image: url(../images/ico/sc_ico_like.svg);

                        }
                    }
                }



                .sc_tit {
                    font-size: 12px;
                    line-height: 1.31;
                    letter-spacing: -0.13px;
                }
            }
        }
        &.ty_best {
            padding-right: 20px;
            .sc_gal_item + .sc_gal_item {
                margin-left: 10px;
            }
            .sc_gal_item_link {
                display: block;
                width: 80px;
            }
        }
        &.ty_masonry {
            margin-top: -22px;
            .sc_gal_item {
                padding: 0 5px;
                margin-top: 22px;
            }
        }
    }

}

@media (max-width: 640px) {
    .sc_gal.ty_masonry {
        margin: 0 -5px;
        margin-top: -22px;
        .sc_gal_item {
            width: 50%;
        }
    }
}